<style amp-custom="">
  /* #region FLEXBOXGRID */
  .row{margin:0 auto;width:100%;display:flex;flex:0 1 auto;flex-direction:row;flex-wrap:wrap}.row>[class*=col-]{padding:1rem}.col{flex-grow:1;flex-basis:0;max-width:100%;padding:1rem}.col-xs{flex-grow:1;flex-basis:0;max-width:100%}.col-xs-12{flex-basis:50%;max-width:50%}.col-xs-24{flex-basis:100%;max-width:100%}.row.center-xs{justify-content:center}@media only screen and (min-width:576px){.col-sm{flex-grow:1;flex-basis:0;max-width:100%}.col-sm-1{flex-basis:4.16667%;max-width:4.16667%}.col-sm-2{flex-basis:8.33333%;max-width:8.33333%}.col-sm-3{flex-basis:12.5%;max-width:12.5%}.col-sm-4{flex-basis:16.66667%;max-width:16.66667%}.col-sm-5{flex-basis:20.83333%;max-width:20.83333%}.col-sm-6{flex-basis:25%;max-width:25%}.col-sm-7{flex-basis:29.16667%;max-width:29.16667%}.col-sm-8{flex-basis:33.33333%;max-width:33.33333%}.col-sm-9{flex-basis:37.5%;max-width:37.5%}.col-sm-10{flex-basis:41.66667%;max-width:41.66667%}.col-sm-11{flex-basis:45.83333%;max-width:45.83333%}.col-sm-12{flex-basis:50%;max-width:50%}}@media only screen and (min-width:768px){.col-md{flex-grow:1;flex-basis:0;max-width:100%}.col-md-1{flex-basis:4.16667%;max-width:4.16667%}.col-md-2{flex-basis:8.33333%;max-width:8.33333%}.col-md-3{flex-basis:12.5%;max-width:12.5%}.col-md-4{flex-basis:16.66667%;max-width:16.66667%}.col-md-5{flex-basis:20.83333%;max-width:20.83333%}.col-md-6{flex-basis:25%;max-width:25%}.col-md-7{flex-basis:29.16667%;max-width:29.16667%}.col-md-8{flex-basis:33.33333%;max-width:33.33333%}.col-md-9{flex-basis:37.5%;max-width:37.5%}.col-md-10{flex-basis:41.66667%;max-width:41.66667%}.col-md-11{flex-basis:45.83333%;max-width:45.83333%}.col-md-12{flex-basis:50%;max-width:50%}.col-md-13{flex-basis:54.16667%;max-width:54.16667%}.col-md-14{flex-basis:58.33333%;max-width:58.33333%}.col-md-15{flex-basis:62.5%;max-width:62.5%}.col-md-16{flex-basis:66.66667%;max-width:66.66667%}.col-md-17{flex-basis:70.83333%;max-width:70.83333%}.col-md-18{flex-basis:75%;max-width:75%}.col-md-19{flex-basis:79.16667%;max-width:79.16667%}.col-md-20{flex-basis:83.33333%;max-width:83.33333%}.col-md-21{flex-basis:87.5%;max-width:87.5%}.col-md-22{flex-basis:91.66667%;max-width:91.66667%}.col-md-23{flex-basis:95.83333%;max-width:95.83333%}.col-md-24{flex-basis:100%;max-width:100%}.row.between-md{justify-content:space-between}}@media only screen and (min-width:992px){.col-lg{flex-grow:1;flex-basis:0;max-width:100%}.col-lg-1{flex-basis:4.16667%;max-width:4.16667%}.col-lg-2{flex-basis:8.33333%;max-width:8.33333%}.col-lg-3{flex-basis:12.5%;max-width:12.5%}.col-lg-4{flex-basis:16.66667%;max-width:16.66667%}.col-lg-5{flex-basis:20.83333%;max-width:20.83333%}.col-lg-6{flex-basis:25%;max-width:25%}.col-lg-7{flex-basis:29.16667%;max-width:29.16667%}.col-lg-8{flex-basis:33.33333%;max-width:33.33333%}.col-lg-9{flex-basis:37.5%;max-width:37.5%}.col-lg-10{flex-basis:41.66667%;max-width:41.66667%}.col-lg-11{flex-basis:45.83333%;max-width:45.83333%}.col-lg-12{flex-basis:50%;max-width:50%}.col-lg-13{flex-basis:54.16667%;max-width:54.16667%}.col-lg-14{flex-basis:58.33333%;max-width:58.33333%}.col-lg-15{flex-basis:62.5%;max-width:62.5%}.col-lg-16{flex-basis:66.66667%;max-width:66.66667%}.col-lg-17{flex-basis:70.83333%;max-width:70.83333%}.col-lg-18{flex-basis:75%;max-width:75%}.col-lg-19{flex-basis:79.16667%;max-width:79.16667%}.col-lg-20{flex-basis:83.33333%;max-width:83.33333%}.col-lg-21{flex-basis:87.5%;max-width:87.5%}.col-lg-22{flex-basis:91.66667%;max-width:91.66667%}.col-lg-23{flex-basis:95.83333%;max-width:95.83333%}.col-lg-24{flex-basis:100%;max-width:100%}.row.start-lg{justify-content:flex-start}.row.between-lg{justify-content:space-between}}@media only screen and (min-width:1200px){.col-xl{flex-grow:1;flex-basis:0;max-width:100%}.col-xl-6{flex-basis:25%;max-width:25%}.col-xl-7{flex-basis:29.16667%;max-width:29.16667%}.col-xl-17{flex-basis:70.83333%;max-width:70.83333%}}.show{display:block}.hide{display:none}
  /* #endregion */
  /* #region GLOBAL */
  *, *::before, *::after {
    box-sizing: border-box;
  }
  html {
    min-height: 100%;
    font-size: 14px;
    line-height: 1.7;
    font-family: 'Source Sans Pro', sans-serif;
  }
  @media (min-width: 576px) {
    html {
      font-size: 16px;
    }
  }
  @media (min-width: 1200px) {
    html {
      font-size: 18px;
    }
  }
  h1 {
    font-weight: 300;
    font-size: 3.35rem;
    line-height: 1.2;
    margin: 0 0 2rem;
  }
  h2 {
    font-weight: 300;
    font-size: 2.65rem;
    line-height: 1.2;
    margin: 0 0 1.5rem;
  }
  h3 {
    font-weight: 400;
    font-size: 1.777rem;
    line-height: 1.2;
    margin: 0 0 1rem;
  }
  h4, h5 {
    font-weight: 400;
    font-size: 1rem;
    margin: 0 0 0.75rem;
  }
  p {
    margin: 0 0 0.5rem;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  .section {
    width: 100%;
    padding: 11.66rem 0 9.44rem;
    overflow: hidden;
    transition: background-color 1s ease-in-out, color 1s ease-in-out;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    will-change: background-color, color;
  }
  .section:first-of-type {
    padding-top: 0;
  }
  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 1rem;

  }
  @media (min-width: 768px) {
    .section-content {
      padding: 0 3rem;
    }
  }
  .page {
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 5rem;
  }
  .page.no-padding {
    padding-top: 0;
  }
  /* #endregion */
  /* #region BUTTONS */
  .i-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    position: relative;
    align-items: center;
    font-size: 1.22rem;
    white-space: nowrap;
    text-decoration: none;
    padding: 1.2rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    border: 1px solid transparent;
    line-height: 1.15;
    background-color: #0066FF;
    color: #FFF;
  }
  @media (min-width: 768px) {
    .i-btn {
      font-size: 1rem;
      padding: 1rem 2rem;
    }
  }
  .i-btn .text {
    transform: translate3d(0.75rem, 0, 0);
    transition: transform 0.3s ease-in-out;
    transition-delay: 0.5s;
  }
  .i-btn .i-wrp {
    position: relative;
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
  }
  .i-btn.dnld .i-wrp .icon {
    position: absolute;
    left: 50%;
    top: 0;
  }
  .i-btn.dnld .i-wrp .icon>.shaft {
    display: block;
    width: 2px;
    height: 0;
    transition: height ease-out 0.5s;
    transition-delay: 0.3s;
    background: #fff;
  }
  .i-btn.dnld .i-wrp .icon>.shaft:before,
  .i-btn.dnld .i-wrp .icon>.shaft:after {
    content: '';
    display: block;
    position: absolute;
    width: 0.1rem;
    height: 0;
    bottom: 0;
    right: 0px;
    background-color: inherit;
    transition: height 0.5s;
  }
  .i-btn.dnld .i-wrp .icon>.shaft:before {
    transform: rotate(-40deg);
    transform-origin: bottom left;
  }
  .i-btn.dnld .i-wrp .icon>.shaft:after {
    transform: rotate(40deg);
    transform-origin: bottom right;
  }
  @media (min-width: 992px) {
    .i-btn:hover .text {
      transform: translate3d(0, 0, 0);
      transition-delay: 0s;
      transition-timing-function: ease-in-out;
    }
    .i-btn.dnld:hover .i-wrp .icon>.shaft {
      height: 0.9rem;
      transition-delay: 0.3s;
    }
    .i-btn.dnld:hover .i-wrp .icon>.shaft:before,
    .i-btn.dnld:hover .i-wrp .icon>.shaft:after {
      height: 0.5rem;
      transition-delay: 0.8s;
    }
  }
  .arr-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    position: relative;
    align-items: center;
    font-size: 1.22rem;
    white-space: nowrap;
    text-decoration: none;
    padding: 1.2rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    border: 1px solid transparent;
    line-height: 1.15;
    background-color: #0066ff;
    color: #fff;
  }
  @media (min-width: 768px) {
    .arr-btn {
      font-size: 1rem;
      padding: 1rem 2rem;
    }
  }
  .arr-btn[href] {
    display: inline-flex;
    line-height: 1.15;
  }
  .arr-btn:focus {
    outline: none;
  }
  .arr-btn:not(.stroke):before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    box-shadow: 0 0.5rem 1.3rem 0 rgba(0, 102, 255, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }
  .arr-btn .arr {
    width: 1rem;
    transition: left 0.5s;
  }
  .arr-btn .arr--left {
    position: absolute;
    top: 50%;
    left: 0.5rem;
  }
  .arr-btn .shaft {
    background-color: #fff;
  }
  .arr-btn .arr--left>.shaft {
    width: 0;
  }
  .arr-btn .arr--left>.shaft:before,
  .arr-btn .arr--left>.shaft:after {
    width: 0;
  }
  .arr-btn .arr--left>.shaft:before {
    transform: rotate(0);
  }
  .arr-btn .arr--left>.shaft:after {
    transform: rotate(0);
  }
  .arr-btn .arr--right>.shaft {
    width: 1rem;
    transition-delay: 0.5s;
  }
  .arr-btn .arr--right>.shaft:before,
  .arr-btn .arr--right>.shaft:after {
    width: 0.5rem;
    transition-delay: 0.1s;
  }
  .arr-btn .arr--right>.shaft:before {
    transform: rotate(40deg);
  }
  .arr-btn .arr--right>.shaft:after {
    transform: rotate(-40deg);
  }
  .arr-btn .arr>.shaft {
    display: block;
    height: 0.05rem;
    min-height: 1px;
    position: relative;
    transition: width 0.5s, transform 0.5s;
    transition-delay: 0;
    will-change: transform;
  }
  .arr-btn .arr>.shaft:before,
  .arr-btn .arr>.shaft:after {
    content: '';
    display: block;
    position: absolute;
    height: 0.05rem;
    min-height: 1px;
    top: 0;
    right: 0;
    background-color: inherit;
    transition: width 0.5s, transform 0.5s;
    transition-delay: 0;
  }
  .arr-btn .arr>.shaft:before {
    transform-origin: top right;
  }
  .arr-btn .arr>.shaft:after {
    transform-origin: bottom right;
  }
  .arr-btn>.main {
    display: flex;
    align-items: center;
    transition: transform 0.5s;
  }
  .arr-btn>.main>.text {
    margin: 0 1rem 0 0;
    text-align: left;
    min-width: 7rem;
  }
  .arr-btn>.main>.arr {
    position: relative;
  }
  @media (min-width: 992px) {
    .arr-btn>.main>.text {
      min-width: unset;
    }
    .arr-btn:hover:not(.stroke):before {
      opacity: 1;
    }
    .arr-btn:hover>.arr--left {
      left: 1.5rem;
    }
    .arr-btn:hover>.arr--left>.shaft {
      width: 1rem;
      transition-delay: 0.1s;
    }
    .arr-btn:hover>.arr--left>.shaft:before,
    .arr-btn:hover>.arr--left>.shaft:after {
      width: 0.5rem;
      transition-delay: 0.1s;
    }
    .arr-btn:hover>.arr--left>.shaft:before {
      transform: rotate(40deg);
    }
    .arr-btn:hover>.arr--left>.shaft:after {
      transform: rotate(-40deg);
    }
    .arr-btn:hover>.main {
      transform: translate3d(2rem, 0, 0);
    }
    .arr-btn:hover>.main>.arr--right>.shaft {
      width: 0;
      transform: translate3d(200%, 0, 0);
      transition-delay: 0;
    }
    .arr-btn:hover>.main>.arr--right>.shaft:before,
    .arr-btn:hover>.main>.arr--right>.shaft:after {
      width: 0;
      transition: width 0.1s, transform 0.1s;
      transition-delay: 0;
    }
    .arr-btn:hover>.main>.arr--right>.shaft:before {
      transform: rotate(0);
      opacity: 0;
    }
    .arr-btn:hover>.main>.arr--right>.shaft:after {
      transform: rotate(0);
      opacity: 0;
    }
  }
  /* #endregion */
  /* NAVBAR */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    z-index: 99;
    background-color: #fff;
  }
  .page amp-sidebar {
    background: #fff;
    width: 100%;
    max-width: 100%;
  }
  .bn {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 90rem;
    height: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav_menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding: 0;
    color: rgb(4, 0, 21);
    margin: 0;
  }
  .nav_menu li {
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: center;
    height: 100%;
    margin: 0 2rem 0 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .nav_menu li:last-child {
    margin: 0;
  }
  .nav_menu .i-dn {
    transition: all 0.3s linear;
    display: inline-block;
    width: 12px;
    height: 10px;
    position: relative;

  }
  @media (min-width: 1200px) {
    .nav_menu .i-dn {
      margin-left: 0.6rem;
    }
  }
  .i-dn-l,
  .i-dn-r {
    position: absolute;
    width: 2px;
    height: 7.5px;
    background-color: #0066FF;
    transform-origin: bottom center;
    top: 0;
    left: 6px;
    transform: rotate(-45deg);
  }
  .i-dn-r {
    transform: rotate(45deg);
  }
  .menu_link {
    display: inline-block;
    position: relative;
    width: 100%;
    font-size: 1.2rem;
    color: inherit;
    text-align: left;
    text-decoration: none;
    z-index: 1;
  }
  .menu_link:after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 0;
    height: 0.15rem;
    background-color: #0066ff;
    transition: width 0.2s;
  }
  .nav_menu li:hover a:after {
    width: 1rem;
  }
  /* .nav_menu li:hover .i-dn {
    transform: rotate(180deg);
  } */
  .vp-btn-wrapper {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    position: relative;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    border-radius: 2rem;
    cursor: pointer;
    border: 1px solid transparent;
    line-height: 1.15;
    background-color: #0066ff;
    color: #ffffff;
    width: fit-content;
    font-size: 1.33rem;
    justify-content: center;
    padding: 0.75rem 1rem;
    color: #fff;
  }
  .vp-btn-wrapper .text {
    transform: translate3d(0.5rem, 0, 0);
    transition: transform 0.3s ease-in-out;
  }
  .vp-btn-wrapper:hover .text {
    transform: translate3d(0, 0, 0);
  }
  .vp-btn-wrapper .vp-icon {
    position: relative;
    margin-left: 0.5rem;
    line-height: 1.1;
    display: block;
    opacity: 0;
    transform: scale(0.3);
    transition: all 0.3s ease-in-out;
  }
  .vp-btn-wrapper:hover .vp-icon {
    transform: scale(1.1);
    opacity: 1;
  }
  .sn {
    display: flex;
    flex-direction: column;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
  }
  .nav_menu li:hover .sn {
    visibility: visible;
    height: auto;
    opacity: 1;
  }
  .sn__menu-mask {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, -100%, 0);
  }
  .sn .sn-it {
    padding: 1.4rem 0 0 1rem;
    text-decoration: none;
  }
  .sn .sn-it:after {
    display: none;
  }
  @media (min-width: 992px) {
    .sn {
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translate3d(-50%, 0, 0);
      flex-direction: row;
      box-shadow: 0 0.7rem 4.3rem 0 rgba(4, 0, 21, 0.1);
      background-color: #fff;
    }
    .vp-btn-wrapper--mobile {
      display: none;
    }
    .sn .sn-it {
      padding: 1.8rem 2.5rem 1.6rem 2.5rem;
      min-width: 17rem;
      flex-basis: 33.333%;
      transition: background-color 0.2s;
    }
    .sn .sn-it:hover {
      background-color: #0066ff;
    }
    .sn .sn-it:hover .sn-it__image {
      background-color: rgba(255, 255, 255, 0.2);
    }

    .sn .sn-it:hover .sn-it__image amp-img {
      -webkit-filter: grayscale(0%) brightness(0) invert(1);
      filter: grayscale(0%) brightness(0) invert(1);
    }
    .sn .sn-it:hover .sn-it__title,
    .sn .sn-it:hover .sn-it__desc {
      color: #fff;
    }
  }
  .sn .sn-it__title,
  .sn amp-img,
  .sn .sn-it__desc {
    text-align: left;
    transition: color 0.2s, filter 0.2s;
  }
  .sn .sn-it__title {
    font-weight: 600;
    display: flex;
    align-items: flex-start;
    font-size: 1.1rem;
    margin-bottom: 0.25rem;
    color: #040015;
  }

  .sn .sn-it__image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 102, 255, 0.1);
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.40rem;
    border-radius: 7px;
    margin: -0.5rem 1rem 0 0;
  }

  .sn .sn-it__image amp-img {
    width: 100%;
    max-height: 100%;
  }

  .sn .sn-it__desc {
    font-size: 1rem;
    padding-left: 3.3rem;
    color: #5f6369;
    max-width: 17rem;
  }
  @media (max-width: 991px) {
    .sn br {
      display: none;
    }
  }
  @media (min-width: 992px) {
    .sn .sn-it__desc {
      font-size: 0.88rem;
      padding-left: 0;
      max-width: 12rem;
    }
    .sn .sn-it__title {
      margin-bottom: 0.5rem;
      font-size: .95rem;
      max-width: 12rem;
    }

    .sn .sn-it__image {
      width: 2rem;
      height: 2rem;
      margin-top: 0;
      padding: 0.35rem;
    }

    .sn.wflow .sn-it__title {
      align-items: flex-start;
    }

    .sn.wflow .sn-it__desc {
      max-width: unset;
    }
  }

  @media (min-width: 992px) {
    .bn {
      padding: 0 4rem;
    }
    .menu_link {
      font-size: 0.8rem;
      line-height: 1.13;
      letter-spacing: 0.6px;
    }
    .vp-btn-wrapper {
      font-size: 0.88rem;
    }
  }
  .bn .navbar-brand{
    display: inline-block;
  }
  @media (max-width: 767px) {
    .bn .navbar-brand{
      max-width: 120px;
    }
  }
  .bn .nav_menu li:last-of-type .menu_link{
    margin-right: 0
  }
  .hmb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1.22rem;
    text-decoration: none;
    padding: 1.2rem 0;
    cursor: pointer;
    border: 1px solid transparent;
    line-height: 1.15;
    background-color: #fff;
    overflow: hidden;
    width: 21px;
    position: relative;
  }
  .hmb:before {
    content: '';
    position: absolute;
    left: -1.2rem;
    right: -1.2rem;
    top: 0;
    bottom: 0;
  }
  .hmb:focus {
    outline: none;
  }
  .hmb span{
    display: block;
    background-color: rgb(4, 0, 21);
    width: 21px;
    height: 2px;
    margin-bottom: 5px;
    float: right;
  }
  .hmb .middle{
    width: 15px;
  }
  .hmb .bottom{
    margin: 0;
  }
  @media (min-width: 992px) {
    .hmb {
      display: none;
    }
  }
  @media (max-width: 991px) {
    .bn .nav_menu {
      display: none;
    }
    .bn--mobile {
      position: relative;
      z-index: 1;
      width: 100%;
      margin: 0 auto;
      padding: 1rem 1rem 0 1rem;
    }
    .bn--mobile .navbar-brand {
      display: inline-block;
      padding-left: 1rem;
    }
    .bn--mobile .hmb {
      float: right;
    }
    .bn--mobile .top {
      transform: rotate(45deg);
    }
    .bn--mobile .middle {
      display: none;
    }
    .bn--mobile .bottom {
      transform: translate3d(0,-7px,0) rotate(-45deg);
    }
    .bn--mobile .nav_menu {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 2rem 0 0 1rem;
      height: auto;
      max-height: calc(100% - 8rem);
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
    .bn--mobile .nav_menu li{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      margin: 0 1rem 2.5rem 0;
      padding: 0;
      height: auto;
      text-align: center;
    }
    .bn--mobile .nav_menu .vp-main,
    .bn--mobile .nav_menu .lng-sel {
      display: none;
    }
    .vp-btn-wrapper--mobile {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 1rem;
      background-color: inherit;
      transform: translate3d(0, 0, 0);
    }
    .vp-btn-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      font-size: 1rem;
      padding: 0.75rem 1rem;
    }
    .bn--mobile .nav_menu .sn {
      visibility: visible;
      height: auto;
      opacity: 1;
    }
  }
  amp-img {
    max-width: 100%;
  }

  /* #region CATEGORIES */
  .ctgs {
    margin: 0;
  }
  .ctg-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    flex-wrap: wrap;
  }
  .ctg-list li {
    display: inline-block;
    margin-bottom: .6rem;
  }
  .ctg_link {
    color: #5f6369;
    font-size: 0.89rem;
    line-height: 1.81;
    display: inline-block;
    padding: 3px 20px;
    border-radius: 17px;
    cursor: pointer;
    transition: color 0.4s, background-color 0.4s;
    text-decoration: none;
    text-transform: uppercase;
  }
  .ctg_link:hover {
    background-color: rgba(105,110,120,.1);
  }
  .ctg_link.active, .ctg_link.active:hover {
    color: #0066ff;
    background-color: rgba(0, 102, 255, 0.1);
  }
  /* #endregion */

  /* #region PAGINATION */
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
  }
  .pagination .page {
    font-weight: 400;
    color: #8b9097;
    letter-spacing: 0.68px;
    font-size: 1rem;
    text-decoration: none;
    padding-top: 0;
    display: inline-block;
    width: 40px;
    text-align: center;
  }
  .pagination a {
    font-weight: 400;
    color: #080e19;
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pagination .page a {
    color: inherit;
    text-decoration: none;
  }
  .pagination .page.current {
    color: #0066ff;
  }
  .pagination .page a:hover {
    text-decoration: underline;
  }
  .pagination .last, .pagination .first {
    display: none;
  }
  .pagination .next {
    margin-left: 20px;
  }
  .pagination .prev {
    margin-right: 20px;
  }
  .pagination .next a,
  .pagination .prev a {
    display: inline-block;
    position: relative;
  }
  .pagination .next a {
    padding-right: 30px;
  }
  .pagination .prev a {
    padding-left: 30px;
  }
  .pagination .next a:before,
  .pagination .prev a:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -16px;
    height: 64px;
    width: 64px;
    text-align: center;
    background: transparent;
    border: 1px solid #d4d4d4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pagination .next a:before {
    right: -64px;
  }
  .pagination .prev a:before {
    left: -64px;
  }
  .pagination .prev a:after,
  .pagination .next a:after {
    font-weight: 600;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    position: absolute;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 26px;
    top: 2px;
    color: #8b9097;
    opacity: .6;
  }
  .pagination .next a:after {
    right: -43px;
    content: "\f061";
  }
  .pagination .prev a:after {
    left: -43px;
    content: "\f060";
  }
  @media (max-width: 575px) {
    .pagination  {
      max-width: 60vw;
      margin: 0 auto;
    }
  }
  /* #endregion */
  /* #region BLOG */
  .bl-post-header {
    padding: 0;
    height: 50vh;
    width: 100%;
    position: relative;
  }
  @media (min-width: 992px) {
    .bl-post-header {
      padding: 0;
      height: calc(80vh - 5rem);
    }
  }
  .bl-p-c {
    padding: 3.33rem 0;
    font-family: 'Merriweather', serif;
  }
  .bl-p-c amp-img:first-of-type img {
    object-fit: cover;
  }
  @media (min-width: 768px) {
    .bl-p-c {
      padding: 3.33rem 0 0 0;
    }
  }
  .bl-p-c__column, .disqus {
    max-width: 945px;
    overflow: hidden;
  }
  .disqus {
    margin: 0 auto;
  }
  .bl-p-c__title {
    line-height: 1.32;
    font-size: 3.35rem;
    color: #040015;
    font-family: 'Cabin', sans-serif;
  }
  @media (min-width: 992px) {
    .bl-p-c__title {
      max-width: 85%;
    }
  }
  .bl-p-c__text {
    margin-top: 3rem;
  }
  .bl-p-c__text p {
    margin: 0 0 2.2rem 0;
    font-size: 1rem;
    color: #040015;
    line-height: 2.11;
    font-family: 'Merriweather', serif;
  }
  .bl-p-c__text h1 {
    font-family: 'Cabin', sans-serif;
  }
  .bl-p-c__text h2,
  .bl-p-c__text h3,
  .bl-p-c__text h4,
  .bl-p-c__text h5 {
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    line-height: 1.53;
    color: #040015;
    font-size: 2rem;
    margin: 5rem 0 1.5rem 0;
  }
  .bl-p-c__text h3 {
    font-size: 1.5rem;
    line-height: 1.2;
    margin: 0 0 1rem;
  }
  .bl-p-c__text h4,
  .bl-p-c__text h5 {
    font-weight: 400;
    font-size: 1rem;
    margin: 0 0 0.75rem;
  }

  .bl-p-c__text blockquote {
    padding: 0;
    margin: 3.5rem 0 0 0;
  }
  .bl-p-c__text blockquote p {
    line-height: 1.46;
    font-size: 2.65rem;
    font-family: 'Merriweather', serif;
    font-style: italic;
  }
  .bl-p-c__text blockquote strong {
    line-height: 1.73;
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    font-size: 1.22rem;
    display: block;
    text-align: right;
  }
  .bl-p-c__text ul {
    margin: 0;
    padding-left: 1.2rem;
    list-style-type: disc;
    line-height: 2;
  }
  .bl-p-c__text ul p {
    margin: 0 0 1rem 0;
  }
  .bl-p-c__text .image-caption {
    font-size: .88rem;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    color: #8b9097;
    margin-top: .5rem;
  }
  .bl-p-c__text .bl-post-slider {
    height: 310px;
    width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    -webkit-scroll-snap-type: x mandatory;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
  }
  @media (min-width: 768px) {
    .bl-p-c__text .bl-post-slider {
      height: 440px;
    }
  }
  @media (min-width: 992px) {
    .bl-p-c__text .bl-post-slider {
      height: 600px;
    }
  }
  .bl-p-c__text .bl-post-slide {
    width: 100%;
    flex-shrink: 0;
    height: 100%;
    margin-right: 50px;
    scroll-snap-align: start;
  }
  .bl-p-c__image {
    height: 250px;
  }
  @media (min-width: 768px) {
    .bl-p-c__image {
      height: 400px;
    }
  }
  @media (min-width: 992px) {
    .bl-p-c__image {
      height: 532px;
    }
  }
  .bl-p-c__tags {
    list-style: none;
    margin: 5rem 0;
  }
  .bl-p-c__tags .bl-p-c__tag {
    display: inline-block;
  }
  .bl-p-c__tags .bl-p-c__tag__link {
    font-size: .89rem;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #8b9097;
    border-radius: 21px;
    background-color: #f0f0f0;
    text-decoration: none;
    padding: .2rem 1rem;
    margin-right: .89rem;
    margin-bottom: .89rem;
  }
  .bl-ctg.bl-ctg {
    padding-bottom: 1rem;
  }
  .bl-ctg-latest {
    font-family: 'Merriweather', serif;
  }
  .bl-ctg-latest__title {
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #040015;
    margin: 0 0 3.2rem 0;
  }
  .bl-ctg-latest__article {
    margin-bottom: 5rem;
  }
  .bl-ctg-latest__article:last-of-type {
    margin-bottom: 0;
  }
  .bl-ctg-latest__category {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.14;
    letter-spacing: 4.2px;
    color: #5f6369;
    font-size: 0.78rem;
    text-transform: uppercase;
  }
  .bl-ctg-latest__article-title {
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.33;
    color: #040015;
    margin: 0.8rem 0 1.65rem 0;
  }
  .bl-ctg-latest__article-title a{
    color: inherit;
    text-decoration: none;
  }
  .bl-ctg-latest__image {
    max-width: 100%;
    border-radius: 14px;
    overflow: hidden;
  }
  .bl-ctg-latest__content {
    line-height: 2;
    font-size: 1rem;
    color: #505155;
    margin: 1.5rem 0 2.6rem 0;
  }
  .bl-ctg-latest section {
    margin-bottom: 4rem;
  }
  .bl-ctg-no-random {
    padding-bottom: 2rem;
  }
  .bl-ctg-no-random > div:first-child {
    padding-bottom: 0;
  }
  .bl-ctg-popular {
    font-family: 'Merriweather', serif;
  }
  .bl-ctg-popular__title {
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    font-size: 1.55rem;
    color: #040015;
    margin: .5rem 0 3.3rem 0;
  }
  .bl-ctg-popular__article {
    margin-bottom: 3.5rem;
  }
  .bl-ctg-popular__article:last-of-type {
    margin-bottom: 0;
  }
  .bl-ctg-popular__article-top {
    display: flex;
  }
  .bl-ctg-popular__category {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.14;
    letter-spacing: 4.2px;
    color: #5f6369;
    font-size: 0.78rem;
    text-transform: uppercase;
  }
  .bl-ctg-popular__article-header {
    padding-top: 6px;
  }
  .bl-ctg-popular__article-title {
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    font-size: 1.33rem;
    line-height: 1.46;
    color: #040015;
    margin: 0.5rem 0 0 0;
  }
  .bl-ctg-popular__article-title a {
    color: inherit;
    text-decoration: none;
  }
  .bl-ctg-popular__image-box {
    min-width: 103px;
    width: 103px;
    height: 103px;
    margin-right: 20px;
    border-radius: 14px;
    overflow: hidden;
    position: relative;
  }
  .bl-ctg-popular__image-box amp-img img {
    object-fit: cover;
  }
  .bl-ctg-popular__content {
    line-height: 1.93;
    font-size: 0.88rem;
    color: #505155;
    margin: 0.7rem 0 1rem 0;
  }
  .bl-article {
    padding-bottom: 4rem;
  }
  .bl-article__image amp-img {
    max-width: 100%;
    border-radius: 0.7rem;
    display: block;
  }
  @media (min-width: 992px) {
    .bl-article__art-c.bl-article__art-c {
      position: relative;
      padding-bottom: 4rem;
    }
  }
  .bl-article__label, .art_lbl {
    color: #5f6369;
    font-size: 0.78rem;
    text-transform: uppercase;
    line-height: 1.14;
    letter-spacing: 4.2px;
  }
  .bl-article__title {
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    font-size: 2.65rem;
    line-height: 1.15;
    letter-spacing: 0.53px;
    margin-top: .4rem;
  }
  .bl-article__title a {
    color: inherit;
    text-decoration: none;
  }
  .bl-article__text {
    font-family: 'Merriweather', serif;
    color: #5f6369;
    line-height: 2.11;
    margin-bottom: 1rem;
  }
  .bl-article .bl-author {
    margin-top: 3rem;
  }
  @media (min-width: 992px) {
    .bl-article .bl-author {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      margin: 0;
    }
  }
  .bl-arts {
    padding: 0 0 1rem;
  }
  .bl-arts .article {
    margin-bottom: 2rem;
  }
  .art_img amp-img {
    max-width: 100%;
    border-radius: 0.7rem;
  }
  .art_lbl {
    margin: 1rem 0 .4rem 0;
    display: inline-block;
  }
  .bl-arts .art_title {
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    font-size: 1.55rem;
    margin-bottom: 1rem;
    line-height: 1.25;
  }
  .bl-arts .art_title a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
  }
  @media (min-width: 576px) {
    .bl-arts .art_title a {
      height: 4rem;
    }
  }
  .bl-arts .art_text {
    font-family: 'Merriweather', serif;
    font-size: .84rem;
    color: #505155;
    line-height: 1.93;
    margin-bottom: 1rem;
  }
  .bl-arts .col-btn-dnld {
    text-align: center;
  }
  .bl-arts .i-btn {
    margin: 5rem auto 0;
    display: inline-flex;
  }
  .bl-pop-arts {
    padding: 0 0 1rem 0;
    margin-top: 4rem;
  }
  .bl-pop-arts__title {
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    font-size: 1.67rem;
    margin-left: -1rem;
  }
  .bl-pop-arts__slider {
    min-height: 20rem;
    width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    -webkit-scroll-snap-type: x mandatory;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
  }
  .bl-pop-arts__slider::-webkit-scrollbar {
    height: 5px;
    background-color: #e5e5e5;
    border-radius: 2px;
  }
  .bl-pop-arts__slider::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #0066ff;
  }
  @media (min-width: 768px) {
    .bl-pop-arts {
      padding: 0;
    }
    .bl-pop-arts__slider {
      min-height: 25rem;
    }
  }
  .bl-pop-arts .bl-pop-art {
    flex-shrink: 0;
    height: 100%;
    margin-right: 50px;
    scroll-snap-align: start;
  }
  @media (min-width: 992px) {
    .bl-pop-arts .bl-pop-art {
      width: 830px;
    }
  }
  .bl-pop-arts .bl-pop-art__image {
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 0.7rem;
    overflow: hidden;
  }
  .bl-pop-art__image amp-img img {
    object-fit: cover;
  }
  .bl-pop-arts .bl-pop-art__article-content {
    padding: 1rem 0 8rem 0;
    position: relative;
    min-height: 20rem;
  }
  @media (min-width: 768px) {
    .bl-pop-arts .bl-pop-art__article-content {
      padding: 0 1rem 8rem 1.2rem;
      min-height: 24rem;
    }
  }

  .bl-pop-arts .bl-pop-art__label {
    font-family: 'Source Sans pro', sans-serif;
    font-size: .78rem;
    text-transform: uppercase;
    line-height: 1.14;
    letter-spacing: 4.2px;
    color: #5f6369;
  }
  .bl-pop-arts .bl-pop-art__title {
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    font-size: 1.33rem;
    line-height: 1.46;
    letter-spacing: 0.27px;
    color: #040015;
    margin-bottom: .5rem;
  }
  .bl-pop-arts .bl-pop-art__title a {
    color: inherit;
    text-decoration: none;
  }
  .bl-pop-arts .bl-pop-art__text {
    font-family: 'Merriweather', serif;
    color: #040015;
    line-height: 2.38;
    font-size: .89rem;
    opacity: .6;
  }
  .bl-pop-arts .bl-pop-art .bl-author {
    position: absolute;
    bottom: 3.5rem;
    left: 1rem;
  }

  .bl-author {
    display: flex;
    align-items: center;
    font-weight: 400;
  }
  .bl-author__avatar {
    width: 36px;
    margin: 5px 20px 0 0;
  }
  .bl-author__avatar amp-img {
    overflow: hidden;
    border-radius: 50%;
  }
  .bl-author__box {
    display: flex;
    flex-direction: column;
  }
  .bl-author__name {
    font-family: 'Source Sans Pro', sans-serif;
    color: #040015;
    line-height: 1.3;
    font-size: .89rem;
  }
  .bl-author__info {
    color: #8b9097;
    line-height: 2;
    font-size: .78rem;
  }
  .bl-author__info span {
    display: inline-block;
  }
  .bl-dot-separator {
    height: 2px;
    width: 2px;
    background-color: #8b9097;
    margin: 0 0.2rem 0.2rem 0.2rem;
    display: inline-block;
  }
  /* #endregion */
  /* #region FOOTER */
  .footer {
    padding-bottom: 0;
    font-size: 0.75rem;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(4, 8, 15);
    color: #fff;
  }
  @media (max-width: 767px) {
    .footer {
      padding: 4.5rem 0 0 0;
    }
    .bl-p-c__column.bl-p-c__column {
      padding: 1rem .5rem;
    }
  }
  @media (min-width: 992px) {
    .footer .ft-section .ft-title {
      max-width: 14rem;
    }
  }
  .footer .ft-section .ft-title--desktop {
    display: none;
  }
  .footer .ft-section .ft-title--mobile {
    display: block;
  }
  @media (min-width: 992px) {
    .footer .ft-section .ft-title--desktop {
      display: block;
    }
    .footer .ft-section .ft-title--mobile {
      display: none;
    }
  }
  .footer .ft-section .ft-title__text {
    font-weight: 300;
    color: #fff;
    margin: 7rem 0 2rem;
  }
  .footer .ft-section .ft-title__text--small {
    font-weight: normal;
    max-width: none;
    margin: 3rem 0 0;
  }
  @media (min-width: 992px) {
    .footer .ft-section .ft-title__text--small {
      font-size: 1.333rem;
    }
    .footer .ft-section .ft-title .arr-btn,
    .footer .ft-section .ft-title .arr-btn .main,
    .footer .ft-section .ft-title .arr-btn .text {
      width: 100%;
    }
  }
  .footer .ft-section p {
    color: #8b9097;
    margin: 0;
  }
  .footer .ft-section .lm-footer {
    padding-left: 0;
    padding-right: 0;
  }
  .footer .ft-section .list-menu {
    margin: 0;
  }
  .footer .ft-section .list-menu__item a {
    color: #8b9097;
  }
  @media (min-width: 992px) {
    .footer .ft-section .list-menu__item a:hover {
      color: #fff;
    }
  }
  .footer .ft-section .list-menu__item:last-of-type {
    margin-bottom: 0;
  }
  .footer .ft-section--navigation {
    padding: 0 0 5rem;
  }
  @media (min-width: 768px) {
    .footer .ft-section--company-details {
      border-top: 1px solid #181a20;
    }
    .footer .ft-section--navigation {
      padding: 7rem 0 5rem;
    }
  }
  .footer .ft-section--company-details .address {
    margin: 0;
  }
  .footer .ft-section--company-details .ft-scls.ft-scls {
    margin: 0;
  }
  @media (min-width: 992px) {
    .footer .ft-section--company-details .ft-scls.ft-scls {
      text-align: right;
    }
    .footer .ft-section--company-details .copyright {
      margin-right: 2rem;
    }
  }
  .footer .ft-section--company-details .ft-scls.ft-scls>li {
    display: inline-block;
    margin: 0.6rem;
  }
  .footer .ft-section--rate {
    background-color: #080e19;
  }
  .footer .ft-section--rate .footer-eu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
  }
  .footer .ft-section--rate .footer-eu__logo {
    margin: 0.9rem;
    max-width: 20%;
  }
  .footer .ft-section--rate .footer-eu__logo img {
    max-width: 100%;
    object-fit: contain;
  }
  @media (min-width: 1200px) {
    .footer .ft-section--rate .footer-eu__logo {
      margin: 0 2.5rem 0 0;
    }
  }
  .footer .ft-section--rate .ft-rate {
    color: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  @media (min-width: 992px) {
    .footer .ft-section--rate .footer-eu__logo img {
      max-width: unset;
    }
    .footer .ft-section--rate .footer-eu__logo {
      margin: 0 1.5rem 0 0;
    }
    .footer .ft-section--rate .ft-rate {
      justify-content: flex-end;
      flex-wrap: nowrap;
    }
  }
  .footer .ft-section--rate .ft-rate i {
    color: #ffd11a;
  }
  .footer .ft-section--rate .ft-rate i:last-of-type {
    margin-right: 0.9rem;
  }
  .footer .ft-section--rate .ft-rate .rate {
    margin: 0 1.5rem 0 0;
  }
  .footer .ft-section--rate .ft-rate p {
    margin-top: 0.5rem;
  }
  @media (min-width: 768px) {
    .footer .ft-section--rate .ft-rate p {
      margin-top: 0;
    }
  }
  .lm-markers {
    padding-left: 1rem;
  }
  .lm-markers .list-menu__item {
    margin-bottom: 0.5rem;
  }
  @media (max-width: 767px) {
    .lm-markers {
      padding-left: 1.5rem;
    }
    .lm-markers .list-menu__item {
      font-size: 1.333rem;
    }
    .lm-markers .list-menu__item a {
      font-size: 1.333rem;
    }
    .lm-markers .list-menu__item--icon-label {
      margin: 1rem 0 1rem -1.5rem;
    }
    .lm-markers .list-menu__item--icon-label i {
      font-size: 1.22rem;
    }
  }
  .list-menu {
    margin: 0;
  }
  .list-menu__item {
    font-weight: normal;
    font-style: normal;
    margin: 0 0 2rem;
    padding-right: 1.25rem;
    line-height: 1.2;
  }
  @media (min-width: 768px) {
    .list-menu__item {
      margin: 0 0 1rem;
    }
  }
  .list-menu__item a {
    font-size: 1rem;
    color: #5f6369;
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: color 0.2s, padding 0.2s;
  }
  .list-menu__item a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 0.15rem;
    background-color: #0066ff;
    transform: translate3d(0, -50%, 0);
    transition: width 0.2s;
  }
  .list-menu__item--menu-label {
    font-weight: 500;
    text-transform: uppercase;
    color: #5f6369;
    font-size: 0.75rem;
    letter-spacing: 3px;
  }
  @media (min-width: 992px) {
    .list-menu__item a:hover {
      color: #040015;
      font-weight: 500;
      padding-left: 1.4rem;
    }
    .list-menu__item a:hover::before {
      width: 15px;
    }
    .list-menu__item--menu-label {
      font-size: 0.563rem;
    }
  }
  .list-menu__item--icon-label {
    color: #fff;
    margin: 1rem 0 1rem -1rem;
    display: flex;
    align-items: center;
  }
  .list-menu__item--icon-label amp-img {
    margin-right: 0.3rem;
  }
  .lng-sel {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .lng-sel svg {
    display: block;
  }
  .lng-sel .sep {
    color: #a0a5b2;
  }
  .bn--mobile .lng-sel {
    margin: 0.5rem 0 0 1rem;
    display: inline-flex;
  }
  .lng-sel a {
    color: #a0a5b2;
    text-decoration: none;
    padding: 0.6rem;
    font-size: 0.88rem;
    transition: color 0.3s;
  }
  .lng-sel a.active,
  .lng-sel a:hover {
    color: #040015;
  }
  .bl-article__button-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 260px;
    border-radius: 35px;
    text-decoration: none;
    margin: 34px auto;
    background-color: #0066FF;
    color: #ffffff;
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .ta-center {
    text-align: center;
  }

  .newsletter {
    padding: 30px;
    background: #0066FF;
    color: #ffffff;
    margin-bottom: -1rem;
    position: relative;
  }


  .dropdown:hover .wflow {
    visibility: visible;
    height: 9.4rem;
    opacity: 1;
  }

  .invisible {
    visibility: hidden;
    display: none;
  }

  .arrow-up {
    transform: rotate(180deg);
  }

  @media (min-width: 1024px) {
    .newsletter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 64px 96px;
    }
  }

  @media (min-width: 1200px) {
    .newsletter {
      padding: 64px 118px;
    }
  }

  .newsletter__title {
    margin-bottom: 10px;
    font-size: 2.14rem;
    margin-bottom: 24px;
  }

    @media (min-width: 1024px) {
      .newsletter__title {
        margin-bottom: 0;
      }
    }

    @media (min-width: 1400px) {
      .newsletter__title {
        font-size: 2.66rem;
      }
    }

  .newsletter__form {
    position: relative;
    z-index: 2;
  }

  @media (min-width: 1200px) {
    .newsletter__form {
      width: 50%;
    }
  }

  .newsletter__fieldset {
    border: none;
    padding: 0;
    width: 100%;
  }

  @media (min-width: 1024px) {
    .newsletter__fieldset {
      display: flex;
      align-items: center;
    }
  }

  .newsletter__input {
    width: 100%;
    border: 1px solid #D0D3D9;
    border-radius: 6px;
    transition: border-color 0.3s;
    font-size: 1.28rem;
    height: 64px;
    text-indent: 20px;
    margin-bottom: 24px;
  }

  @media (min-width: 1024px) {
    .newsletter__input {
      margin-bottom: 0;
      margin-right: 20px;
      min-width: 300px;
      font-size: 1rem;
    }
  }

  @media (min-width: 1200px) {
    .newsletter__input {
      width: 100%;
      max-width: 388px;
    }
  }

  .newsletter__input:focus {
    outline: none;
    border-color: #247bfe;
  }

  .newsletter__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 100%;
    border-radius: 35px;
    background-color: #000000;
    color: #ffffff;
    font-size: 1.28rem;
    line-height: 1.25rem;
    border: none;
    outline: none;
    cursor: pointer;
  }

  @media (min-width: 1024px) {
    .newsletter__button {
      width: 184px;
      font-size: 1rem;
      min-width: 184px;
    }
  }

  .newsletter__error, .newsletter__thank-you {
    margin-top: 20px;
  }

    @media (min-width: 1024px) {
      .newsletter__image--mobile {
        display: none;
      }
    }

    .newsletter__image--desktop {
      display: none;
    }

    @media (min-width: 1024px) {
      .newsletter__image--desktop {
        display: block;
      }
    }

    .fn {
      background-color: #000000;
    }
    .fn.section {
      padding: 0;
    }
    .fn__wrapper {
      padding: 40px 30px 0 30px;
      width: 100%;
    }
    .divider {
      width: 100%;
      height: 1px;
      background: #fff;
      opacity: 0.2;
      margin: 24px 0;
    }
    .heading-secondary {
      font-size: 10px;
      color: #8e94a0;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
    .fn__title {
      color: #fff;
      font-size: 1.777rem;
      width: 50%;
      line-height: 32px;
      margin-top: 28px;
    }
    .contact__paragraph {
      font-size: 1.22rem;
      line-height: 18px;
      margin-bottom: 4px;
      color: #fff;
      text-decoration: none;
      display: flex;
      align-items: center;
    }
    .contact__paragraph img {
      margin-right: 12px;
    }
    .links {
      display: flex;
      justify-content: space-between;
    }
    .links__column {
      width: 50%;
    }
    .links__column--desktop {
      display: none;
    }
    .fn__details {
      color: #fff;
      margin-top: 25px;
    }
    .fn__details .legal-links {
      margin-top: 16px;
    }
    .fn__details .legal-links__link {
      text-decoration: none;
      color: #8e94a0;
      font-size: 1rem;
      margin-right: 16px;
    }
    .fn__details .content {
      font-size: 1rem;
      line-height: 20px;
      margin: 0;
    }
    .fn__details .name {
      display: block;
    }
    .fn__details span {
      font-weight: 700;
    }
    .fn__details .copyright {
      font-size: 1rem;
      line-height: 16px;
      color: #8e94a0;
      margin-bottom: 16px;
    }
    .socials {
      display: flex;
      margin-top: 20px;
    }
    .socials__item {
      margin-right: 6px;
      display: flex;
      align-items: center;
    }
    .socials .link {
      width: 32px;
      height: 32px;
    }
    .contact__heading {
      margin-top: 16px;
    }
    .fn__last {
      margin-top: 24px;
      background: #222326;
      margin-left: -30px;
      margin-right: -30px;
      padding: 23px 30px;
    }
    .fn__last-logos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;
    }
    .rating-stars {
      display: flex;
      align-items: center;
      color: #8e94a0;
      font-size: 1rem;
    }
    .rating-stars img {
      margin-right: 8px;
    }
    .rating-content {
      color: #8e94a0;
      font-size: 1rem;
      line-height: 20px;
    }
    .links-group {
      margin-bottom: 24px;
    }
    .links-group .heading {
      font-size: 1.22rem;
      color: #fff;
      margin-bottom: 16px;
    }
    .links-group .link {
      color: #8e94a0;
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 8px;
      text-decoration: none;
      display: flex;
      align-items: center;
    }
    .links-group.badge {
      color: #00ffd1;
      background: rgba(#00ffd1, 0.2);
      font-size: 9px;
      text-transform: uppercase;
      border-radius: 4px;
      margin-left: 12px;
      height: 20px;
      padding: 0 5px;
    }
    @media (min-width: 768px) {
      .fn__wrapper {
        padding: 80px 120px 0 120px;
      }
      .rating-content {
        font-size: 0.75rem;
      }
      .rating-stars {
        font-size: 0.75rem;
      }
      .fn__last-logos {
        margin-right: 30px;
      }
      .fn__last {
        margin-left: -120px;
        margin-right: -120px;
        padding: 30px 57px;
      }
      .socials {
        margin: 0;
      }
      .fn__details .copyright {
        font-size: 0.75rem;
      }
      .fn__details {
        display: flex;
        justify-content: space-between;
      }
      .fn__details .legal-links__link {
        font-size: 0.75rem;
      }
      .fn__details .content {
        font-size: 0.75rem;
      }
      .heading-secondary {
        font-size: 0.75rem;
      }
      .divider {
        margin: 36px 0;
      }
      .fn__title {
        font-size: 2.65rem;
        line-height: 54px;
      }
      .contact__paragraph {
        font-size: 1.333rem;
        line-height: 32px;
      }
      .contact__heading {
        margin-top: 24px;
      }
      .links-group .heading {
        font-size: 1.333rem;
      }

      .links-group .link {
        font-size: 1rem;
        margin-bottom: 16px;
        line-height: 24px;
      }

      .links-group {
        margin-bottom: 48px;
      }
    }
    @media (min-width: 1024px) {
      .fn__main {
        display: flex;
        justify-content: space-between;
      }
      .links__column--reversed {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
      }
      .fn__intro {
        width: 45%;
      }
      .rating-content {
        width: 75%;
      }
      .rating-stars {
        margin-right: 8px;
      }
      .fn__last-logos img {
        margin-right: 16px;
      }
      .fn__last {
        justify-content: space-between;
      }
      .fn__details .copyright {
        margin-bottom: 0;
        margin-right: 35px;
      }
      .fn__details-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .fn__title {
        width: 70%;
      }
      .divider--mobile {
        display: none;
      }
      .links {
        width: 50%;
      }
    }
    @media (min-width: 1200px) {
      .fn__title {
        width: 95%
      }
      .fn__last {
        display: flex;
        align-items: center;
      }
      .fn__last-logos {
        margin-bottom: 0;
      }
      .fn__last-rating {
        display: flex;
        width: 75%;
        align-items: flex-end;
        justify-content: flex-end;
      }
      .fn__details .name {
        display: inline;
      }
      .links__column {
        width: 32%;
      }
      .links__column--desktop {
        display: block;
      }
      .links-group .link .hide-desktop {
        display: none;
      }
      .fn__intro {
        width: 29%;
      }
      .divider {
        width: 90%;
      }
      .links {
        width: 70%;
      }
    }
    @media (min-width: 1400px) {
      .fn__details .legal-links {
        margin-top: 0;
      }
      .fn__details-right {
        display: flex;
        align-items: center;
      }
    }
</style>
<div class="page">
<section class="section bl-ctg" data-amp-auto-lightbox-disable="">
  <div class="section-content">
    <div class="row">
      <div class="col-xs-24">
        <div class="ctgs">
          <ul class="ctg-list">
            <li>
              <a class="ctg_link" href="latest.html">
              All
              </a>
            </li>
            <li>
              <a class="ctg_link" href="categories/startups.html">
              Web 3 Pandas
              </a>
            </li>
            <li>
              <a class="ctg_link" href="categories/news.html">
              News
              </a>
            </li>
            <li>
              <a class="ctg_link" href="categories/development.html">
              Development
              </a>
            </li>
            <li>
              <a class="ctg_link" href="categories/about-us.html">
              About Us
              </a>
            </li>
            <li>
              <a class="ctg_link" href="categories/design.html">
              Design
              </a>
            </li>
            <li>
              <a class="ctg_link" href="categories/innovation.html">
              Digitalization
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row between-lg">
      <div class="col-xs-24 col-lg-14 bl-ctg-latest">
        <h1 class="bl-ctg-latest__title">Latest articles </h1>
        <section>
          <article class="bl-ctg-latest__article">
            <p class="bl-ctg-latest__category">Web 3 Pandas </p>
            <h2 class="bl-ctg-latest__article-title">
              <a href="articles/startup-books.html">
              10 Books to read __ you run a Startup
              </a>
            </h2>
            <div class="bl-ctg-latest__image">
              <a href="articles/startup-books.html">
                <amp-img src="../../../files.start-up.house/system/article/image/18/thumb_sharon-mccutcheon-532782-unsplash.jpg" width="660" height="360" layout="responsive"></amp-img>
              </a>
            </div>
            <div class="bl-ctg-latest__content">
              We ____ the Web 3 Pandas world is _____ a mystery for many ______. The lack of knowledge _____ create fear or uncertainty, ___ for that, reading is ___ way to learn about __. We want to offer ___ a list of 10 _______ related books that will ____ you if you run _ startup, you are thinking __ doing it or you ______ want to know more _____ it.
            </div>
            <div class="bl-author" data-amp-auto-lightbox-disable="">
              <div class="bl-author__avatar">
                <%= image_tag "mini_emma_avatar_ffc1c304.png", alt: "Download file", class: "", style: "height:250px; width:auto;" %>
                <%# <amp-img src="../../../s3.eu-central-1.amazonaws.com/files.start-up.house/system/author/avatar/9/mini_emma_avatar_ffc1c304.png" width="36" height="36"></amp-img> %>
              </div>
              <div class="bl-author__box">
                <div class="bl-author__name">
                  Emma Revert
                </div>
                <div class="bl-author__info">
                  <span>07 February 2019</span>
                  <div class="bl-dot-separator"></div>
                  <span>4 min read </span>
                </div>
              </div>
            </div>
          </article>
          <article class="bl-ctg-latest__article">
            <p class="bl-ctg-latest__category">Web3Pandas </p>
            <h2 class="bl-ctg-latest__article-title">
              <a href="articles/call-to-action.html">
              High converting landing pages: ___ Call to Action case
              </a>
            </h2>
            <div class="bl-ctg-latest__image">
              <a href="articles/call-to-action.html">
                <amp-img src="../../../files.start-up.house/system/article/image/17/thumb_Call_to_action.jpg" width="660" height="360" layout="responsive"></amp-img>
              </a>
            </div>
            <div class="bl-ctg-latest__content">
              We ___ have been tempted to _____ that highlighted Join us __ Book now button sometimes, ___ most of us do ___ know what that marketing ________ hides behind. Websites, facebook, ______ and lately Instagram, we ___ see them everywhere. As _ website/app owner we can _________ a potential consumer that ___ just hanging out and ____ him into a loyal ________.
            </div>
            <div class="bl-author" data-amp-auto-lightbox-disable="">
              <div class="bl-author__avatar">
                <amp-img src="../../../s3.eu-central-1.amazonaws.com/files.start-up.house/system/author/avatar/9/mini_emma_avatar_ffc1c304.png" width="36" height="36"></amp-img>
              </div>
              <div class="bl-author__box">
                <div class="bl-author__name">
                  Emma Revert
                </div>
                <div class="bl-author__info">
                  <span>24 January 2019 </span>
                  <div class="bl-dot-separator"></div>
                  <span>4 min read </span>
                </div>
              </div>
            </div>
          </article>
          <article class="bl-ctg-latest__article">
            <p class="bl-ctg-latest__category">Development </p>
            <h2 class="bl-ctg-latest__article-title">
              <a href="articles/flutter-vs-react-native.html">
              Flutter vs React Native: _____ one is better in 2019?
              </a>
            </h2>
            <div class="bl-ctg-latest__image">
              <a href="articles/flutter-vs-react-native.html">
                <amp-img src="../../../files.start-up.house/system/article/image/8/thumb_flutter_vs_react_native.jpeg" width="660" height="360" layout="responsive"></amp-img>
              </a>
            </div>
            <div class="bl-ctg-latest__content">
              Does ___ comparison Flutter vs. React ______ ring a bell? Don't ____ about Flutter yet? But ___ sure you know about _____ Native, right? Launched in 2017, Flutter is quite a ___ cross-platform development application that _____ win your heart, or ___. While some developers have _______ risked to try it, ______ remain hesitant. Let's see ___ pros and cons of _______ over the already well ___________ React Native, in this _____-______ war between Facebook and ______.
            </div>
            <div class="bl-author" data-amp-auto-lightbox-disable="">
              <div class="bl-author__avatar">
                <amp-img src="../../../s3.eu-central-1.amazonaws.com/files.start-up.house/system/author/avatar/8/mini_a071b0f645146ff7524db82b4ce4e3de_712ab898.png" width="36" height="36"></amp-img>
              </div>
              <div class="bl-author__box">
                <div class="bl-author__name">
                  Kamil  Regulski
                </div>
                <div class="bl-author__info">
                  <span>15 January 2019 </span>
                  <div class="bl-dot-separator"></div>
                  <span>7 min read </span>
                </div>
              </div>
            </div>
          </article>
        </section>
        <nav class="pagination" role="navigation" aria-label="pager">
          <span class="first">
          <a href="latest.html">First page </a>
          </span>
          <span class="prev">
          <a rel="prev" href="latest_4a6a2fa0.html">Prev page </a>
          </span>
          <span class="page gap">... </span>
          <span class="page">
          <a href="latest_4a6a2fa3.html">45 </a>
          </span>
          <span class="page">
          <a href="latest_4a6a2fa2.html">46 </a>
          </span>
          <span class="page">
          <a href="latest_4a6a2fa1.html">47 </a>
          </span>
          <span class="page">
          <a rel="prev" href="latest_4a6a2fa0.html">48 </a>
          </span>
          <span class="page current">
          49
          </span>
          <span class="page">
          <a rel="next" href="latest_ed11a443.html">50 </a>
          </span>
          <span class="page">
          <a href="latest_ed11a442.html">51 </a>
          </span>
          <span class="page">
          <a href="latest_ed11a441.html">52 </a>
          </span>
          <span class="next">
          <a rel="next" href="latest_ed11a443.html">Next page </a>
          </span>
          <span class="last">
          <a href="latest_ed11a441.html">Last page </a>
          </span>
        </nav>
      </div>
      <div class="col-xs-24 col-lg-9 col-xl-8 bl-ctg-popular">
        <h2 class="bl-ctg-popular__title">You may also like... </h2>
        <section>
          <article class="bl-ctg-popular__article">
            <div class="bl-ctg-popular__article-top">
              <div class="bl-ctg-popular__image-box">
                <amp-img src="../../../files.start-up.house/system/article/image/3/thumb_Screenshot_2020-07-15_at_10.33.02.png" layout="fill"></amp-img>
              </div>
              <div class="bl-ctg-popular__article-header">
                <p class="bl-ctg-popular__category">Web3Pandas </p>
                <h3 class="bl-ctg-popular__article-title">
                  <a href="articles/how-to-write-a-software-requirements-specification-srs-for-a-startup-mvp.html">
                  How to write _ Software Requirements Specification (SRS) ___ a Web3Pandas MVP?
                  </a>
                </h3>
              </div>
            </div>
            <div class="bl-ctg-popular__content">
              Whether you are launching ____ first startup or you ___ a seasoned entrepreneur, you ______ always begin your work ____ clearly outlining the projects _________. A software requirement specification ____ help you communicate with ___ development ...
            </div>
            <div class="bl-author" data-amp-auto-lightbox-disable="">
              <div class="bl-author__avatar">
                <amp-img src="../../../s3.eu-central-1.amazonaws.com/files.start-up.house/system/author/avatar/6/mini_Image_uploaded_from_iOS_4965d693.jpg" width="36" height="36"></amp-img>
              </div>
              <div class="bl-author__box">
                <div class="bl-author__name">
                  Micha Merchelski
                </div>
                <div class="bl-author__info">
                  <span>27 August 2018 </span>
                  <div class="bl-dot-separator"></div>
                  <span>5 min read </span>
                </div>
              </div>
            </div>
          </article>
          <article class="bl-ctg-popular__article">
            <div class="bl-ctg-popular__article-top">
              <div class="bl-ctg-popular__image-box">
                <amp-img src="../../../files.start-up.house/system/article/image/1/thumb_Blog1_2.jpeg" layout="fill"></amp-img>
              </div>
              <div class="bl-ctg-popular__article-header">
                <p class="bl-ctg-popular__category">Web3Pandas </p>
                <h3 class="bl-ctg-popular__article-title">
                  <a href="articles/75-of-s-p-500-firms-will-be-replaced-within-15-years.html">
                  75% of S&amp;P 500 firms will be replaced ______ 15 years.
                  </a>
                </h3>
              </div>
            </div>
            <div class="bl-ctg-popular__content">
              The world is changing ______ than ever
              There is no _______ which for sure will __ still on the market __ the next 5 years. _____ is no company which ___ afford not to change __ the meantime.
            </div>
            <div class="bl-author" data-amp-auto-lightbox-disable="">
              <div class="bl-author__avatar">
                <amp-img src="../../../s3.eu-central-1.amazonaws.com/files.start-up.house/system/author/avatar/1/mini_Ala_14935725.jpg" width="36" height="36"></amp-img>
              </div>
              <div class="bl-author__box">
                <div class="bl-author__name">
                  Alicja Stecz
                </div>
                <div class="bl-author__info">
                  <span>28 February 2018 </span>
                  <div class="bl-dot-separator"></div>
                  <span>4 min read </span>
                </div>
              </div>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</section>
<div>
<div class="newsletter">
  <h2 class="newsletter__title">Sign up for our newsletter! </h2>
  <form method="post" action-xhr="/api/subscribers" target="_top" class="newsletter__form">
    <fieldset class="newsletter__fieldset">
      <input class="newsletter__input" type="text" name="email" required="" placeholder="Email" />
      <button type="submit" class="newsletter__button">
      Sign up
      </button>
    </fieldset>
    <div submit-success="">
      <template type="amp-mustache">
        <p class="newsletter__thank-you">
          Thank you for subscribing __ our newsletter.
        </p>
      </template>
    </div>
    <div submit-error="">
      <template type="amp-mustache">
        <p class="newsletter__error">
          Something went wrong!
        </p>
      </template>
    </div>
  </form>
  <amp-img layout="fill" src="../../packs/media/images/blog/newsletter-decor-f239a3ca930eb33e59d37af9a3fa9f23.svg" class="newsletter__image--mobile"></amp-img>
  <amp-img layout="fill" src="../../packs/media/images/blog/newsletter-decor-desktop-717da5ff00ba85278e1909d1cfd52643.svg" class="newsletter__image--desktop"></amp-img>
</div>