<body class="">
  <noscript>
    <iframe height='0' src='https://www.googletagmanager.com/ns.html?id=GTM-WCX6979' style='display:none;visibility:hidden' width='0'></iframe>
  </noscript>
  <main class="page privacy-policy" data-controller="page">
    <section class="section white privacy-policy" data-target="page.section" data-theme="white" data-controller="privacy_policy" style="background-color: rgb(255, 255, 255); color: rgb(4, 0, 21);">
      <div class="section-content">
        <div class="row start-md">
          <div class="col-xs-24 col-md-12 privacy-policy__top-section">
            <h1 class="privacy-policy__title" data-target="page.loadOnScroll">Privacy policy</h1>
            <p class="privacy-policy__date" data-target="page.loadOnScroll">Last update: 19 August 2019</p>
            <nav class="privacy-policy__nav">
              <ul>
                <li>
                  <a href="#personal-info" class="privacy-policy__nav-link" data-id="personal-info" data-target="privacy_policy.policyLink" data-action="click->privacy_policy#scrollToHeader">
                  What personal information do we collect from the people that visit our blog, website or app?
                  </a>
                </li>
                <li>
                  <a href="#collect-info" class="privacy-policy__nav-link" data-id="collect-info" data-target="privacy_policy.policyLink" data-action="click->privacy_policy#scrollToHeader">
                  When do we collect information?
                  </a>
                </li>
                <li>
                  <a href="#using-info" class="privacy-policy__nav-link" data-id="using-info" data-target="privacy_policy.policyLink" data-action="click->privacy_policy#scrollToHeader">
                  How do we use your information?
                  </a>
                </li>
                <li>
                  <a href="#using-cookies" class="privacy-policy__nav-link" data-id="using-cookies" data-target="privacy_policy.policyLink" data-action="click->privacy_policy#scrollToHeader">
                  Do we use 'cookies'?
                  </a>
                </li>
                <li>
                  <a href="#third-party-disclosure" class="privacy-policy__nav-link" data-id="third-party-disclosure" data-target="privacy_policy.policyLink" data-action="click->privacy_policy#scrollToHeader">
                  Third-party disclosure
                  </a>
                </li>
                <li>
                  <a href="#third-party-links" class="privacy-policy__nav-link" data-id="third-party-links" data-target="privacy_policy.policyLink" data-action="click->privacy_policy#scrollToHeader">
                  Third-party links
                  </a>
                </li>
                <li>
                  <a href="#using-google" class="privacy-policy__nav-link" data-id="using-google" data-target="privacy_policy.policyLink" data-action="click->privacy_policy#scrollToHeader">
                  Do we use Google?
                  </a>
                </li>
                <li>
                  <a href="#coppa" class="privacy-policy__nav-link" data-id="coppa" data-target="privacy_policy.policyLink" data-action="click->privacy_policy#scrollToHeader">
                  COPPA (Children Online Privacy Protection Act)
                  </a>
                </li>
                <li>
                  <a href="#fair-info" class="privacy-policy__nav-link" data-id="fair-info" data-target="privacy_policy.policyLink" data-action="click->privacy_policy#scrollToHeader">
                  Fair Information Practices
                  </a>
                </li>
                <li>
                  <a href="#can-spam-act" class="privacy-policy__nav-link" data-id="can-spam-act" data-target="privacy_policy.policyLink" data-action="click->privacy_policy#scrollToHeader">
                  CAN-SPAM Act
                  </a>
                </li>
                <li>
                  <a href="#gdpr" class="privacy-policy__nav-link" data-id="gdpr" data-target="privacy_policy.policyLink" data-action="click->privacy_policy#scrollToHeader">
                  General information clause on the processing of personal data
                  </a>
                </li>
                <li>
                  <a href="#contact-us" class="privacy-policy__nav-link active" data-id="contact-us" data-target="privacy_policy.policyLink" data-action="click->privacy_policy#scrollToHeader">
                  Contacting Us
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-xs-24 col-md-12 col-lg-11 col-xl-10 privacy-policy__content">
            <p class="privacy-policy__about">This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>
            <article>
              <section class="privacy-policy__section privacy-policy__section-0">
                <h2 class="privacy-policy__section-title" id="personal-info" data-target="privacy_policy.policyHeader page.loadOnScroll">What personal information do we collect from the people that visit our blog, website or app?</h2>
                <div class="privacy-policy__section-content" data-target="page.loadOnScroll">When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, mailing address, phone number or other details to help you with your experience.</div>
              </section>
              <section class="privacy-policy__section privacy-policy__section-1">
                <h2 class="privacy-policy__section-title" id="collect-info" data-target="privacy_policy.policyHeader page.loadOnScroll">When do we collect information?</h2>
                <div class="privacy-policy__section-content" data-target="page.loadOnScroll">We collect information from you when you subscribe to a newsletter, respond to a survey, fill out a form, Use Live Chat, Open a Support Ticket or enter information on our site.</div>
              </section>
              <section class="privacy-policy__section privacy-policy__section-2">
                <h2 class="privacy-policy__section-title" id="using-info" data-target="privacy_policy.policyHeader page.loadOnScroll">How do we use your information?</h2>
                <div class="privacy-policy__section-content" data-target="page.loadOnScroll">
                  We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
                  <ul class="padding-top">
                    <li>To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
                    <li>To improve our website in order to better serve you.</li>
                    <li>To allow us to better service you in responding to your customer service requests.</li>
                    <li>To administer a contest, promotion, survey or other site feature.</li>
                    <li>To ask for ratings and reviews of services or products.</li>
                    <li>To follow up with them after correspondence (live chat, email or phone inquiries).</li>
                  </ul>
                </div>
              </section>
              <section class="privacy-policy__section privacy-policy__section-3">
                <h2 class="privacy-policy__section-title" id="using-cookies" data-target="privacy_policy.policyHeader page.loadOnScroll">Do we use 'cookies'?</h2>
                <div class="privacy-policy__section-content" data-target="page.loadOnScroll">
                  Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.<br><br> We use them to:
                  <ul>
                    <li>Help remember and process the items in the shopping cart.</li>
                    <li>Understand and save user's preferences for future visits.</li>
                    <li>Keep track of advertisements.</li>
                    <li>Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third-party services that track this information on our behalf.</li>
                  </ul>
                  You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since every browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.<br><br> If you turn cookies off, some features will be disabled. It will affect the user's experience that makes your site experience more efficient and may not function properly.<br><br> However, you will still be able to place orders.
                </div>
              </section>
              <section class="privacy-policy__section privacy-policy__section-4">
                <h2 class="privacy-policy__section-title" id="third-party-disclosure" data-target="privacy_policy.policyHeader page.loadOnScroll">Third-party disclosure</h2>
                <div class="privacy-policy__section-content" data-target="page.loadOnScroll">We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.</div>
              </section>
              <section class="privacy-policy__section privacy-policy__section-5">
                <h2 class="privacy-policy__section-title" id="third-party-links" data-target="privacy_policy.policyHeader page.loadOnScroll">Third-party links</h2>
                <div class="privacy-policy__section-content" data-target="page.loadOnScroll">We do not include or offer third-party products or services on our website.</div>
              </section>
              <section class="privacy-policy__section privacy-policy__section-6">
                <h2 class="privacy-policy__section-title" id="using-google" data-target="privacy_policy.policyHeader page.loadOnScroll">Do we use Google?</h2>
                <div class="privacy-policy__section-content" data-target="page.loadOnScroll">
                  Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for users. <a href="https://support.google.com/adwordspolicy/answer/1316548?hl=en" target="_blank">https://support.google.com/adwordspolicy/answer/1316548?hl=en</a><br><br> We use Google AdSense Advertising on our website.<br><br> Google, as a third-party vendor, uses cookies to serve ads on our site. Google's use of the DART cookie enables it to serve ads to our users based on previous visits to our site and other sites on the Internet. Users may opt-out of the use of the DART cookie by visiting the Google Ad and Content Network privacy policy.<br><br> <strong>We have implemented the following</strong>:
                  <ul>
                    <li>Google Display Network Impression Reporting</li>
                    <li>Demographics and Interests Reporting</li>
                  </ul>
                  We, along with third-party vendors such as Google use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data regarding user interactions with ad impressions and other ad service functions as they relate to our website.<br><br> <strong>Opting out:</strong><br> Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you can opt out by visiting the Network Advertising Initiative Opt Out page or by using the Google Analytics Opt Out Browser add-on.
                </div>
              </section>
              <section class="privacy-policy__section privacy-policy__section-7">
                <h2 class="privacy-policy__section-title" id="coppa" data-target="privacy_policy.policyHeader page.loadOnScroll">COPPA (Children Online Privacy Protection Act)</h2>
                <div class="privacy-policy__section-content" data-target="page.loadOnScroll">When it comes to the collection of personal information from children under the age of 13 years old, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, United States' consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.<br><br> We do not specifically market to children under the age of 13 years old.</div>
              </section>
              <section class="privacy-policy__section privacy-policy__section-8">
                <h2 class="privacy-policy__section-title" id="fair-info" data-target="privacy_policy.policyHeader page.loadOnScroll">Fair Information Practices</h2>
                <div class="privacy-policy__section-content" data-target="page.loadOnScroll">
                  The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.<br><br> <strong>In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:</strong><br> We will notify you via email
                  <ul class="padding-none">
                    <li>Within 1 business day</li>
                  </ul>
                  We will notify you via phone call
                  <ul>
                    <li>Within 1 business day</li>
                  </ul>
                  We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.
                </div>
              </section>
              <section class="privacy-policy__section privacy-policy__section-9">
                <h2 class="privacy-policy__section-title" id="can-spam-act" data-target="privacy_policy.policyHeader page.loadOnScroll">CAN-SPAM Act</h2>
                <div class="privacy-policy__section-content" data-target="page.loadOnScroll">
                  The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.<br><br> <strong>We collect your email address in order to:</strong>
                  <ul>
                    <li>Send information, respond to inquiries, and/or other requests or questions</li>
                    <li>Process orders and to send information and updates pertaining to orders.</li>
                  </ul>
                  <strong>To be in accordance with CAN-SPAM, we agree to the following:</strong>
                  <ul>
                    <li>Identify the message as an advertisement in some reasonable way.</li>
                  </ul>
                  If at any time you would like to unsubscribe from receiving future emails, you can email us at <a href="mailto:office@start-up.house" class="bolder">office@start-up.house</a> and we will promptly remove you from ALL correspondence.
                </div>
              </section>
              <section class="privacy-policy__section privacy-policy__section-10">
                <h2 class="privacy-policy__section-title" id="gdpr" data-target="privacy_policy.policyHeader page.loadOnScroll">General information clause on the processing of personal data</h2>
                <div class="privacy-policy__section-content" data-target="page.loadOnScroll">
                  In accordance with Article 13(1) to (2) of Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of individuals with regard to the processing of personal data and on the free movement of such data and repealing Directive 95/46/EC (General Data Protection Regulation) (OJ L 119, p. 1) - hereinafter referred to as 'the GDPR' - we inform you that:
                  <ol>
                    <li>Startup Development House Sp. z o.o. with its registered office in Warsaw at Skolimowska Street, 3/9 00-795 is the Administrator of your personal data.</li>
                    <li>The legal basis for the processing of your data is the legal obligation of the Data Administrator to obtain data at the stage of recruitment and your consent.</li>
                    <li>Your personal data is processed solely for the purposes of recruitment to the position applied for and to take the necessary steps for the purposes of the recruitment process.</li>
                    <li>Providing personal data in the application form is not obligatory, but it will facilitate contact with your person and efficient recruitment process.</li>
                    <li>This consent does not release the employer from his obligations resulting from generally applicable legal regulations concerning the protection of processed data and its legal processing;</li>
                    <li>On the basis of this consent, the employer may not process the above data in a way that violates your good name or personal rights, as well as in the scope and purpose other than those indicated above.</li>
                    <li>Based on your personal data, the Administrator will not make any automated decisions towards you, including those resulting from profiling.</li>
                    <li>
                      As an administrator, we will process your data in order to carry out the recruitment process for the position declared in the recruitment form. On the basis of your consent (Article 6(1)(a) of the GDPR):
                      <ol>
                        <li>You have the right at any time to withdraw your consent to the processing of your personal data, but the withdrawal of your consent does not affect the lawfulness of the processing that was carried out on the basis of your consent prior to the withdrawal.</li>
                        <li>You have the right to object at any time to the processing of your personal data. We will no longer process your data for these purposes unless we can demonstrate that we have valid legitimate grounds overriding your interests, rights and freedoms in relation to your data, or that your data is necessary for us to be able to determine, pursue or defend any claim, if necessary.</li>
                        <li>Your personal data resulting from your CV and cover letter will be processed for the period in which claims related to the recruitment process may appear, i.e. for 3 years from the end of the recruitment process, i.e. from the date of sending your application.</li>
                        <li>Our processors, e.g. law firms, IT companies, may also have access to your data.</li>
                      </ol>
                    </li>
                    <li>
                      In accordance with the GDPR, you are entitled to:
                      <ol>
                        <li>the right to access their data and to receive a copy of it;</li>
                        <li>the right to rectify (correct) their data;</li>
                        <li>the right to erasure of data, limitations of data processing;</li>
                        <li>the right to object to the processing of data;</li>
                        <li>the right to data portability;</li>
                        <li>the right to lodge a complaint with the supervisory authority.</li>
                      </ol>
                    </li>
                  </ol>
                </div>
              </section>
              <section class="privacy-policy__section privacy-policy__section-11">
                <h2 class="privacy-policy__section-title" id="contact-us" data-target="privacy_policy.policyHeader page.loadOnScroll">Contacting Us</h2>
                <div class="privacy-policy__section-content" data-target="page.loadOnScroll">If there are any questions regarding this privacy policy, you may contact us at <a href="mailto:office@start-up.house" class="bolder">office@start-up.house</a>.</div>
              </section>
            </article>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script>
    _linkedin_partner_id = "458204";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);
  </script>
  <script>
    (function(){var s = document.getElementsByTagName("script")[0];
    var b = document.createElement("script");
    b.type = "text/javascript";b.async = true;
    b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
    s.parentNode.insertBefore(b, s);})();
  </script>
  <noscript>
    <img alt='' height='1' src='https://px.ads.linkedin.com/collect/?pid=458204&amp;fmt=gif' style='display:none;' width='1'>
  </noscript>
  <script type="text/javascript">if(document){var search=window.location.search.substring(1);if(search.length){var urlParams=JSON.parse('{"'+decodeURI(search).replace(/"/g,'\\"').replace(/&/g,'","').replace(/=/g,'":"')+'"}'),cookie="";urlParams.utm_source&&(document.cookie="utm_source="+urlParams.utm_source+";path=/"),urlParams.utm_medium&&(document.cookie="utm_medium="+urlParams.utm_medium+";path=/"),urlParams.utm_campaign&&(document.cookie="utm_campaign="+urlParams.utm_campaign+";path=/"),urlParams.utm_content&&(document.cookie="utm_content="+urlParams.utm_content+";path=/"),urlParams.fbclid&&(document.cookie="utm_source=facebook"+";path=/")}}</script>
  <noscript>
    <img height='1' src='https://www.facebook.com/tr?id=444706736107292&amp;ev=PageView&amp;noscript=1' style='display:none' width='1'>
  </noscript>
  <div aria-hidden="true" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(215, 215, 215); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px; border-radius: 4px; left: auto; top: -10000px; z-index: -2147483648; position: absolute; transition: opacity 0.15s ease-out 0s; opacity: 0; visibility: hidden;">
    <div style="position: relative; z-index: 1;"><iframe src="https://newassets.hcaptcha.com/captcha/v1/48ebaaf/static/hcaptcha.html#frame=challenge&amp;id=0x5yeneihav&amp;host=start-up.house&amp;sentry=undefined&amp;reportapi=https%3A%2F%2Faccounts.hcaptcha.com&amp;recaptchacompat=true&amp;custom=false&amp;tplinks=on&amp;sitekey=8bc25273-3edd-41a2-931b-f899bd498f24&amp;theme=light&amp;origin=https%3A%2F%2Fstart-up.house" frameborder="0" scrolling="no" title="Main content of the hCaptcha challenge" style="border: 0px; z-index: 2000000000; position: relative;"></iframe></div>
    <div style="width: 100%; height: 100%; position: fixed; pointer-events: none; top: 0px; left: 0px; z-index: 0; background-color: rgb(255, 255, 255); opacity: 0.05;"></div>
    <div style="border-width: 11px; position: absolute; pointer-events: none; margin-top: -11px; z-index: 1; right: 100%;">
      <div style="border-width: 10px; border-style: solid; border-color: transparent rgb(255, 255, 255) transparent transparent; position: relative; top: 10px; z-index: 1;"></div>
      <div style="border-width: 11px; border-style: solid; border-color: transparent rgb(215, 215, 215) transparent transparent; position: relative; top: -11px; z-index: 0;"></div>
    </div>
  </div>
  <script type="text/javascript" id="">!function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","https://connect.facebook.net/en_US/fbevents.js");fbq("init","444706736107292");fbq("set","agent","tmgoogletagmanager","444706736107292");fbq("track","PageView");</script>
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=444706736107292&amp;ev=PageView&amp;noscript=1"></noscript>
  <script type="text/javascript" id="">function getSelectionText(){var a="";window.getSelection?a=window.getSelection().toString():document.selection&&"Control"!=document.selection.type&&(a=document.selection.createRange().text);return a}document.addEventListener("copy",function(a){dataLayer.push({event:"textCopied",clipboardText:getSelectionText(),clipboardLength:getSelectionText().length})});</script><img src="https://t.co/i/adsct?bci=3&amp;eci=2&amp;event_id=c4c8e0a0-1e27-4ba8-b0d6-479a1ca04c45&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=03a44187-cc13-4737-bc05-0f35fff62ab1&amp;tw_document_href=https%3A%2F%2Fstart-up.house%2Fen%2Fprivacy-policy&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o8oac&amp;type=javascript&amp;version=2.3.29" height="1" width="1" style="display: none;"><img src="https://analytics.twitter.com/i/adsct?bci=3&amp;eci=2&amp;event_id=c4c8e0a0-1e27-4ba8-b0d6-479a1ca04c45&amp;events=%5B%5B%22pageview%22%2C%7B%7D%5D%5D&amp;integration=advertiser&amp;p_id=Twitter&amp;p_user_id=0&amp;pl_id=03a44187-cc13-4737-bc05-0f35fff62ab1&amp;tw_document_href=https%3A%2F%2Fstart-up.house%2Fen%2Fprivacy-policy&amp;tw_iframe_status=0&amp;tw_order_quantity=0&amp;tw_sale_amount=0&amp;txn_id=o8oac&amp;type=javascript&amp;version=2.3.29" height="1" width="1" style="display: none;"><iframe name="_hjRemoteVarsFrame" title="_hjRemoteVarsFrame" tabindex="-1" aria-hidden="true" id="_hjRemoteVarsFrame" src="https://vars.hotjar.com/box-2722367854ce9702c28ea74c51e2a23f.html" style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe><iframe id="_hjSafeContext_67141254" title="_hjSafeContext" tabindex="-1" aria-hidden="true" src="about:blank" style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe>
</body>