<section class="section black intro section__intro" data-target="page.section" data-theme="black" data-animate="" style="background-color: rgb(4, 8, 15); color: rgb(255, 255, 255);">
<div class="section-content">
<div class="intro__image" data-controller="tech">
<img class="scrolling-code-bar" alt="Computer window bar" src="/packs/media/images/technologies/window-bar-df18137beb49fd57909e84f3b7280dbd.svg">
<div class="scrolling-code-container">
<div class="scrolling-code" data-target="tech.scrollingCode" style="translate: none; rotate: none; scale: none; transform: translate(0%, -8.7033%) translate3d(0px, 0px, 0px);">
<%= image_tag ("code_react-b2b7a13bcc883d0e3dd8b0576c991293.png")%>
</div>
<div class="scrolling-code" data-target="tech.scrollingCode" style="translate: none; rotate: none; scale: none; transform: translate(0%, -8.7033%) translate3d(0px, 0px, 0px);">
<%= image_tag ("code_react-b2b7a13bcc883d0e3dd8b0576c991293.png")%>
</div>
<div class="code-mask"></div>
</div>
</div>
<div class="row">
<div class="col-xs-24 col-xl-9 col-xxl-10">
<h1 class="intro__title scroll-transition" data-target="page.loadOnScroll">
Looking for<br>a <strong>React</strong><br>development company?
</h1>
<p class="intro__description scroll-transition" data-target="page.loadOnScroll">
We are your trusted and battle-tested Partner
</p>
<div class="intro__scroll scroll-transition" data-target="page.loadOnScroll">
<%= image_tag ("scroll-9c836788b213ecb8f111eae6ec229f1b.svg") %>
Scroll down
</div>
</div>
</div>
</div>
</section>