




<main class="page resources" data-controller="page" data-lazy="true">

<section class="section white resources-intro" data-theme="white" data-target="page.section">
  <div class="section-content">
  <div class="row resources-intro__container">
  <div class="col-xs-24 col-md-11">
  <h1 class="resources-intro__title">
    Looking for  <br /> the right resources?
  </h1>
  <p class="resources-intro__description">
    At Startup House we are always busy searching for new ways to improve our processes and we want to share some of them with you! Enjoy free templates and guides from our product teams.
  </p>
  <div class="resources-intro__scroll">
    <%= image_tag "scroll-5ffb6181fc18e79a730758387db569fb.svg", alt: "Download file", class: "", title: "", style: 'height:50px;width:auto;' %>
    Scroll down
  </div>
  </div>
  <div class="col-xs-24 col-md-13 resources-intro__picture">
    <%= image_tag "intro-f73f84c3adc49a9c04e7e12cb72d9fe6.webp", alt: "Download file", class: "", style: "height:603px; width:auto;" %>
  </div>
  </div>
  </div>
  </div>
</section>















<section class="section gray resources-guides" data-theme="gray" data-target="page.section">
  <div class="section-content">
    <div class="row resources-top" data-target="page.loadOnScroll">
      <p class="resources-top__top-par">free ebooks </p>
      <h3 class="resources-top__header">Guides </h3>
      <p class="resources-top__description">Grab some knowledge we happily share with you, after years of experience in the market. </p>
    </div>
    <div class="row guides-container">
      <div class="col-xs-15 col-sm-15 col-md-7 guides-container__card">
        <div class="guides-container__card-img" data-target="page.loadOnScroll">
          <%= image_tag "guides-outsourcing-22b48a3d4aa17b46054fae4bfdbea759.png", alt: "Download file", class: "", style: "height:250px; width:auto;" %>
        </div>
        <h4 class="guides-container__card-title">Software Outsourcing Guide </h4>
        <div class="guides-container__card-bottom">
          <div class="guides-container__card-button" data-target="page.loadOnScroll">
            <a class='arrow-button  ' href='/nn/resources/software-outsourcing' id='' rel='' style='background-color: #0066ff; color: #ffffff; border-color: transparent' target=''>
            <span class='arrow arrow--left'>
            <span class='shaft' style='background-color: #ffffff'></span>
            </span>
            <span class='main'>
            <span class='text'>
            Download the guide
            </span>
            <span class='arrow arrow--right'>
            <span class='shaft' style='background-color: #ffffff'></span>
            </span>
            </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-15 col-sm-15 col-md-7 guides-container__card">
        <div class="guides-container__card-img" data-target="page.loadOnScroll">
          <%= image_tag "guides-remote-tools-0c1845f0f609d3140183055a35a32ab3.png", alt: "Download file", class: "", style: "height:250px; width:auto;" %>
        </div>
        <h4 class="guides-container__card-title">Remote Tools Guide </h4>
        <div class="guides-container__card-bottom">
          <div class="guides-container__card-button" data-target="page.loadOnScroll">
            <a class='arrow-button  ' href='/nn/resources/remote-tools' id='' rel='' style='background-color: #0066ff; color: #ffffff; border-color: transparent' target=''>
            <span class='arrow arrow--left'>
            <span class='shaft' style='background-color: #ffffff'></span>
            </span>
            <span class='main'>
            <span class='text'>
            Download the guide
            </span>
            <span class='arrow arrow--right'>
            <span class='shaft' style='background-color: #ffffff'></span>
            </span>
            </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-15 col-sm-15 col-md-7 guides-container__card" data-target="page.loadOnScroll">
        <div class="guides-container__card-img--stay-tuned"></div>
        <h4 class="guides-container__card-title guides-container__card-title--stay-tuned">Stay tuned! </h4>
        <div class="guides-container__card-tags guides-container__card-tags--stay-tuned">
          If you want to learn more about product management, development process and work in IT, check out our blog! We have fresh articles every week!
        </div>
        <div class="guides-container__card-button guides-container__card-button--stay-tuned" data-target="page.loadOnScroll">
          <a class='arrow-button  ' href='/nn/blog' id='' rel='' style='background-color: transparent; color: #ffffff; border-color: transparent' target=''>
          <span class='arrow arrow--left'>
          <span class='shaft' style='background-color: #ffffff'></span>
          </span>
          <span class='main'>
          <span class='text'>
          See articles
          </span>
          <span class='arrow arrow--right'>
          <span class='shaft' style='background-color: #ffffff'></span>
          </span>
          </span>
          </a>
        </div>
      </div>
      <div class="dot-small dot-small--1"></div>
      <div class="dot-small dot-small--2"></div>
      <div class="dot-small dot-small--3"></div>
      <div class="dot-small dot-small--4"></div>
      <div class="dot-small dot-small--5"></div>
      <div class="dot-big"></div>
    </div>
  </div>
</section>
</main>