<section class="section simple-hero no-padding" data-target="page.section" data-theme="monoBaseBlack" data-bgcolor="#FFF3EB" data-color="#000000" style="background-color: rgb(255, 243, 235); color: rgb(0, 0, 0);">
<div class="section-content">
<div class="container">
<div class="content">
<div>
<h1 class="content__title">Get first-step product validation with user research.</h1>
<p class="content__subtitle">There is a user research method for each step of product development - learn how and when to conduct user testing to get the most valuable feedback and improve your product with minimum cost.</p>
</div>
</div>
<%= image_tag "main-image-dba333c647716c7b1a72886517c9a38c.svg",alt: "Image" ,class: "image" %>
</div>
</div>
</section>