.green-tech {
  background-color: #fff
}

.intro {
  background-color: #fff !important;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center
}

.intro__container {
  margin: 0 0 -16px
}

@media (min-width:768px) {
  .intro__container {
    margin: 0 0 121px;
    padding: 0 48px
  }
}

.intro__container__left {
  margin: auto;
  padding: 0 30px
}

@media (min-width:768px) {
  .intro__container__left {
    padding: 0 32px 0 0
  }
}

.intro__title {
  line-height: 56px;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #000
}

@media (min-width:768px) {
  .intro__title {
    font-size: 96px;
    line-height: 96px;
    margin-bottom: 24px
  }
}

.intro__subtitle {
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  margin: 0 0 12px;
  display: block
}

@media (min-width:768px) {
  .intro__subtitle {
    font-size: 16px
  }
}

.intro__description {
  color: #222326;
  margin-bottom: 32px;
  max-width: 600px;
  line-height: 24px;
  font-size: 20px;
  font-weight: 400
}

@media (min-width:768px) {
  .intro__description {
    font-size: 1.25rem;
    font-size: 24px;
    line-height: 28px
  }
}

.intro__picture {
  display: flex;
  justify-content: center;
  padding: 0
}

.intro__picture img {
  object-fit: contain;
  width: 100%
}

@media (min-width:768px) {
  .intro__picture img {
    box-shadow: 1px 19px 29px -6px rgba(0, 0, 0, .26)
  }
}

@media (min-width:1200px) {
  .intro__picture img {
    width: 502px
  }
}

.intro__button {
  width: 100%;
  font-size: 1.333rem;
  margin-bottom: 40px
}

.intro__button .main {
  width: 100%
}

.intro__button .main>.text {
  width: 100%;
  text-align: center
}

.intro__button .main>.arrow--right {
  display: inline
}

@media (min-width:768px) {
  .intro__button {
    width: 347px;
    margin-bottom: 0
  }
}

.services-partners__container {
  padding: 40px 30px;
  width: 100%
}

@media (min-width:768px) {
  .services-partners__container {
    padding: 80px 120px
  }
}

.services-partners .section-content {
  padding: 0
}

@media (min-width:768px) {
  .services-partners .row-center {
    justify-content: center
  }
}

.services-partners .heading {
  font-size: 1.44rem;
  margin-bottom: 70px;
  color: #000;
  text-align: center;
  font-weight: 400
}

@media (min-width:768px) {
  .services-partners .heading {
    font-size: 2.65rem
  }
}

.services-partners .logo {
  margin: 20px 0;
  display: flex;
  justify-content: center
}

.services-partners .logo img {
  width: 100%;
  max-width: 170px;
  max-height: 40px
}

.startup-grind .services-partners .heading {
  font-size: 1.875rem;
  margin-bottom: 40px
}

.development-team .services-partners__container {
  padding-top: 250px
}

.development-team .services-partners__container .heading {
  font-size: 1.875rem
}

@media (min-width:992px) {
  .development-team .services-partners__container .heading {
    font-size: 2.65rem
  }
}

@media (min-width:768px) {
  .development-team .services-partners__container {
    padding-top: 180px
  }
}

@media (min-width:1200px) {
  .sdh-labs .services-partners__container {
    padding-top: 0
  }
}

.top-custom-software .services-partners__container {
  background-color: #fafafa
}

.green-tech .services-partners {
  background-color: #fafafa !important
}

.plan {
  background-color: #f7f8fa
}

.plan .section-content {
  padding: 0
}

.plan__wrapper {
  padding: 40px 30px;
  width: 100%
}

@media (min-width:768px) {
  .plan__wrapper {
    padding: 80px 120px
  }
}

@media (min-width:1200px) {
  .plan__wrapper {
    display: flex;
    justify-content: space-between
  }
}

@media (min-width:1200px) {
  .plan .custom-header {
    max-width: 45%
  }
}

.plan .description {
  font-size: 1.44rem;
  line-height: 24px;
  color: #000;
  font-weight: 600
}

@media (min-width:768px) {
  .plan .description {
    font-size: 1.333rem;
    line-height: 32px
  }
}

@media (min-width:1200px) {
  .plan .description {
    margin-top: 50px;
    width: 50%
  }
}

.green-tech .plan .description {
  margin-top: 0;
  white-space: break-spaces;
  font-size: 20px;
  font-weight: 400
}

@media (min-width:768px) {
  .green-tech .plan .description {
    font-size: 24px
  }
}

.remote__wrapper {
  padding: 40px 30px;
  width: 100%
}

@media (min-width:768px) {
  .remote__wrapper {
    padding: 80px 120px
  }
}

.remote .section-content {
  padding: 0
}

@media (min-width:1024px) {
  .remote__top {
    display: flex;
    justify-content: space-between
  }
}

.remote .cards {
  display: flex;
  flex-direction: column
}

@media (min-width:1024px) {
  .remote .cards {
    flex-direction: row;
    justify-content: space-between
  }
}

.remote .card {
  display: flex;
  padding: 24px;
  margin-bottom: 16px;
  border-radius: 8px;
  background-color: #222326
}

@media (min-width:1024px) {
  .remote .card {
    width: calc(33.3% - 10px);
    padding: 24px
  }
}

.remote .card__contentContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap
}

.remote .card__img {
  display: flex;
  margin-top: 5px;
  margin-right: 32px;
  align-self: flex-start
}

@media (min-width:768px) {
  .remote .card__img {
    margin-top: 10px
  }
}

.remote .card__title {
  width: 100%;
  font-size: 1.44rem;
  color: #fff;
  margin-bottom: 12px
}

@media (min-width:768px) {
  .remote .card__title {
    font-size: 1.333rem
  }
}

.remote .card__content {
  font-size: 16px;
  line-height: 20px;
  color: #e7e9ee
}

@media (min-width:768px) {
  .remote .card__content {
    font-size: 1rem;
    line-height: 29px
  }
}

.green-tech .remote__top .custom-header {
  max-width: 100%
}

.green-tech .remote .card {
  flex-basis: 49%
}

.green-tech .remote .card__title {
  font-size: 24px
}

@media (min-width:768px) {
  .green-tech .remote .card__title {
    font-size: 30px
  }
}

.green-tech .remote .card__content {
  font-size: 20px
}

@media (min-width:768px) {
  .green-tech .remote .card__content {
    font-size: 24px
  }
}

.green-tech .remote .card__img {
  width: 21px;
  height: 14px
}

.faq__wrapper {
  padding: 40px 30px;
  width: 100%
}

@media (min-width:768px) {
  .faq__wrapper {
    padding: 80px 120px
  }
}

@media (min-width:1024px) {
  .faq__wrapper {
    display: flex;
    justify-content: space-between
  }
}

@media (min-width:1024px) {
  .faq__heading {
    width: 30%;
    margin-top: 30px
  }
}

.faq .section-content {
  padding: 0
}

@media (min-width:1024px) {
  .faq .rows {
    width: 70%
  }
}

.faq .row {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent
}

@media (min-width:992px) {
  .faq .row {
    margin-bottom: 40px;
    cursor: auto
  }
}

.faq .row__header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0;
  transition: box-shadow .3s ease;
  pointer-events: none;
  position: relative
}

.faq .row__header:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5;
  height: 1.5px;
  background-color: #8e94a0;
  width: 100%
}

@media (min-width:1024px) {
  .faq .row__header {
    padding: 20px 18px
  }

  .faq .row__header:after {
    width: 95%
  }
}

.faq .row__arrow {
  margin-left: auto;
  transition: transform .3s ease
}

.faq .row__title {
  font-size: 1.22rem;
  font-weight: 600;
  margin-bottom: 0
}

@media (min-width:992px) {
  .faq .row__title {
    margin: 24px 0 8px;
    font-size: 1.333rem
  }
}

.faq .row__content {
  font-size: .88rem;
  line-height: 20px;
  color: #000;
  max-height: 0;
  padding: 0;
  transition: max-height .15s ease-out, margin .3s ease-in;
  overflow: hidden
}

@media (min-width:992px) {
  .faq .row__content {
    padding: 0 15px
  }
}

.faq .row.is-active .row__content {
  max-height: 500px;
  transition: max-height .25s ease-in, margin .3s ease-in;
  margin-top: 37px;
  line-height: 28px;
  padding: 0;
  font-size: 1rem;
  color: #636872
}

@media (min-width:992px) {
  .faq .row.is-active .row__content {
    padding: 0 20px
  }
}

.faq .row.is-active .row__arrow {
  transform: rotate(180deg)
}

.green-tech .faq .rows .row__header {
  padding-bottom: 8px
}

@media (min-width:992px) {
  .green-tech .faq .rows .row__header {
    padding-bottom: 16px
  }
}

.green-tech .faq .rows .row.is-active .row__content {
  margin-top: 24px;
  margin-bottom: 0
}

.green-tech .faq .rows .row:first-child .row__header {
  padding-top: 0
}

.city-projects {
  position: relative
}

.city-projects__wrapper {
  width: 100%;
  padding: 40px 30px 0
}

@media (min-width:768px) {
  .city-projects__wrapper {
    padding: 80px 120px;
    padding-bottom: 0
  }
}

.city-projects .section-content {
  padding: 0
}

.city-projects__title {
  font-size: 3.125rem;
  line-height: 36px;
  margin-bottom: 20px
}

@media (min-width:768px) {
  .city-projects__title {
    font-size: 3.35rem;
    line-height: 69px;
    width: 100%;
    margin-bottom: 25px
  }
}

.city-projects__description {
  font-size: 1.11rem;
  color: #575757;
  line-height: 20px;
  margin-bottom: 40px
}

@media (min-width:768px) {
  .city-projects__description {
    font-size: 1.22rem;
    line-height: 29px;
    margin-bottom: 60px
  }
}

@media (min-width:992px) {
  .city-projects .projects-wrapper {
    padding-left: 118px
  }
}

.city-projects .project {
  padding: 20px 30px 40px;
  margin-bottom: 20px
}

@media (min-width:992px) {
  .city-projects .project {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding: 110px 110px 120px 70px;
    margin-bottom: 40px
  }
}

.city-projects .project:last-child {
  margin-bottom: 60px
}

@media (min-width:992px) {
  .city-projects .project:last-child {
    margin-bottom: 126px
  }
}

.city-projects .project--pink {
  background-color: #ffd7dc
}

.city-projects .project--blue {
  background-color: #3e94f6;
  color: #fff
}

.city-projects .project--green {
  background-color: #e8f0ef
}

.city-projects .project__screen {
  margin-bottom: 40px;
  width: 100%
}

@media (min-width:992px) {

  .city-projects .project__content,
  .city-projects .project__screen {
    width: 50%
  }
}

.city-projects .project__logo {
  margin-bottom: 20px
}

@media (min-width:992px) {
  .city-projects .project__logo {
    margin-bottom: 46px
  }
}

.city-projects .project__description {
  font-size: 1.22rem;
  line-height: 29px
}

@media (min-width:992px) {
  .city-projects .project__description {
    font-size: 1rem;
    margin-bottom: 54px
  }
}

.city-projects .project__button {
  display: none
}

@media (min-width:992px) {
  .city-projects .project__button {
    display: inline-flex
  }
}

.green-tech .city-projects__title {
  font-size: 30px
}

@media (min-width:768px) {
  .green-tech .city-projects__title {
    font-size: 60px
  }
}

.green-tech .city-projects__description {
  font-size: 18px
}

.green-tech .city-projects .project--pink .project__content {
  padding-right: 122px
}

@media (min-width:992px) {
  .green-tech .city-projects .project--green {
    padding: 0 102px
  }
}

@media (min-width:992px) {
  .green-tech .city-projects .project--green .project__screen {
    margin-bottom: 0
  }
}

.green-tech .city-projects .project--green .project__content {
  padding: 112px 122px 162px 0
}

.page .lets-talk {
  padding-top: 4rem
}

@media (min-width:768px) {
  .page .lets-talk {
    padding-top: 11.66rem
  }
}

.page .lets-talk__title {
  font-family: TTCommons-Light, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.65rem;
  margin-bottom: 2rem
}

@media (min-width:768px) {
  .page .lets-talk__title {
    font-size: 3.35rem;
    margin-bottom: 3rem
  }
}

.page .lets-talk__description {
  font-size: 1.11rem;
  color: #8b9097;
  margin-bottom: 5rem
}

.page .lets-talk__list {
  margin-top: -60px
}

.page .lets-talk__list-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start
}

.page .lets-talk__list-item--icon {
  margin-top: 2px;
  margin-right: 12px
}

.page .lets-talk__contact-person {
  display: flex;
  align-items: center
}

.page .lets-talk__contact-person-image {
  width: 5rem;
  height: 5rem;
  border-radius: 100%
}

.page .lets-talk__contact-person-text {
  margin-left: 1.25rem
}

.page .lets-talk__contact-person-name {
  font-size: 1.22rem;
  margin-bottom: 0
}

.page .lets-talk__contact-person-position {
  font-size: 1.11rem;
  color: #8b9097;
  margin-bottom: 0
}

.page .lets-talk__drop-line {
  margin-top: 5rem;
  font-size: 1.11rem;
  color: #8b9097
}

.page .lets-talk__drop-line a {
  color: inherit;
  font-weight: 700;
  transition: color .2s;
  text-decoration: none
}

@media (min-width:992px) {
  .page .lets-talk__drop-line a:hover {
    color: #06f
  }
}

.page .lets-talk .text-wrapper {
  flex-basis: 50%;
  transition: opacity 1.4s
}

.page .lets-talk .form {
  flex-basis: 40%;
  transition: opacity 1.4s;
  display: flex;
  flex-direction: column
}

.page .lets-talk .form__title {
  font-family: TTCommons-Regular, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.333rem;
  margin-bottom: 1rem
}

.page .lets-talk .form input:not(:focus):not(.error),
.page .lets-talk .form textarea:not(:focus):not(.error) {
  border-color: #2f3337
}

.page .lets-talk .form__input {
  font-family: TTCommons-Regular, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  background-color: initial;
  color: #fff
}

.page .lets-talk .form__input:-webkit-autofill,
.page .lets-talk .form__input:-webkit-autofill:active,
.page .lets-talk .form__input:-webkit-autofill:focus,
.page .lets-talk .form__input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 30px #040015 inset !important;
  -webkit-text-fill-color: #fff !important
}

.page .lets-talk .form__bottom-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem
}

.page .lets-talk .form__bottom-row .captcha-container {
  width: auto
}

.page .lets-talk .form__bottom-row .icon-button {
  margin-top: 3rem
}

.page .lets-talk .form__bottom-row .icon-button.disabled {
  opacity: .2
}

@media (min-width:1200px) {
  .page .lets-talk .form__bottom-row {
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap
  }

  .page .lets-talk .form__bottom-row .icon-button {
    margin-top: 2rem
  }

  .page .lets-talk .form__bottom-row .files-upload {
    width: calc(100% - 304px);
    padding-right: 2rem
  }
}

@media (min-width:1600px) {
  .page .lets-talk .form__bottom-row .files-upload {
    max-width: none
  }
}

.page .lets-talk .form__bottom-row .arrow-button,
.page .lets-talk .form__bottom-row .arrow-button .main,
.page .lets-talk .form__bottom-row .arrow-button .text {
  width: 100%
}

@media (min-width:576px) {

  .page .lets-talk .form__bottom-row .arrow-button,
  .page .lets-talk .form__bottom-row .arrow-button .main,
  .page .lets-talk .form__bottom-row .arrow-button .text {
    width: auto
  }
}

.page .lets-talk .form textarea {
  resize: none
}

.page .lets-talk .form--lightGray .form__input,
.page .lets-talk .form--monoBaseBlack .form__input,
.page .lets-talk .form--white .form__input {
  color: #000
}

.page .lets-talk .form--lightGray .form__input:-webkit-autofill,
.page .lets-talk .form--lightGray .form__input:-webkit-autofill:active,
.page .lets-talk .form--lightGray .form__input:-webkit-autofill:focus,
.page .lets-talk .form--lightGray .form__input:-webkit-autofill:hover,
.page .lets-talk .form--monoBaseBlack .form__input:-webkit-autofill,
.page .lets-talk .form--monoBaseBlack .form__input:-webkit-autofill:active,
.page .lets-talk .form--monoBaseBlack .form__input:-webkit-autofill:focus,
.page .lets-talk .form--monoBaseBlack .form__input:-webkit-autofill:hover,
.page .lets-talk .form--white .form__input:-webkit-autofill,
.page .lets-talk .form--white .form__input:-webkit-autofill:active,
.page .lets-talk .form--white .form__input:-webkit-autofill:focus,
.page .lets-talk .form--white .form__input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
  -webkit-text-fill-color: #000 !important
}

.cloud-software-dev .lets-talk,
.design .lets-talk,
.quality-assurance .lets-talk {
  padding: 40px 30px;
  width: 100%
}

@media (min-width:768px) {

  .cloud-software-dev .lets-talk,
  .design .lets-talk,
  .quality-assurance .lets-talk {
    padding: 80px 120px
  }
}

.cloud-software-dev .lets-talk .section-content,
.design .lets-talk .section-content,
.quality-assurance .lets-talk .section-content {
  padding: 0
}

.cloud-software-dev .lets-talk .form__bottom-row .files-upload,
.design .lets-talk .form__bottom-row .files-upload,
.quality-assurance .lets-talk .form__bottom-row .files-upload {
  padding-right: 0
}

.green-tech .lets-talk {
  padding: 40px 0;
  background-color: #fff !important
}

@media (min-width:768px) {
  .green-tech .lets-talk .section-content {
    padding: 40px 120px
  }
}

@media (min-width:768px) {
  .green-tech .lets-talk .section-content .row>* {
    padding: 0
  }
}

.green-tech .lets-talk .form__title,
.green-tech .lets-talk .text-wrapper {
  display: none
}

.green-tech .lets-talk .form .input-wrapper:first-of-type .form__input {
  margin-top: 0
}

.no-code .lets-talk__title,
.rapid-mvp .lets-talk__title {
  margin-bottom: 8px
}

@media (min-width:768px) {

  .no-code .lets-talk__title,
  .rapid-mvp .lets-talk__title {
    margin-bottom: 10px
  }
}

.no-code .lets-talk__description,
.rapid-mvp .lets-talk__description {
  color: #040015
}

@media (min-width:768px) {

  .no-code .lets-talk__description,
  .rapid-mvp .lets-talk__description {
    font-size: 24px
  }
}

.green-tech-guides {
  width: 100%;
  padding: 40px 20px;
  margin-bottom: -28px
}

.green-tech-guides .section-content {
  position: relative;
  margin: 0 auto
}

@media (min-width:576px) {
  .green-tech-guides .section-content {
    padding: 40px 120px
  }
}

.green-tech-guides .green-tech-top {
  flex-direction: column;
  align-items: center
}

.green-tech-guides .green-tech-top__top-par {
  text-transform: uppercase;
  font-size: .88rem;
  letter-spacing: .5px;
  text-align: center;
  color: #1d58af;
  padding-bottom: 5px;
  margin: 0
}

.green-tech-guides .green-tech-top__header {
  font-size: 2.65rem;
  font-family: TTCommons-Light, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.02;
  padding-bottom: 10px;
  margin: 0
}

@media (min-width:576px) {
  .green-tech-guides .green-tech-top__header {
    font-size: 3.8rem
  }
}

.green-tech-guides .green-tech-top__description {
  font-size: 1rem;
  line-height: 1.61;
  color: #5f6369;
  max-width: 300px;
  max-width: 380px;
  text-align: center;
  padding-bottom: 45px;
  margin: 0
}

@media (min-width:576px) {
  .green-tech-guides .green-tech-top__description {
    font-size: 1.11rem
  }
}

.green-tech-guides .guides-container {
  display: flex;
  justify-content: center;
  margin-right: -14px
}

@media (min-width:1200px) {
  .green-tech-guides .guides-container {
    justify-content: space-between;
    margin-right: 0
  }
}

.green-tech-guides .guides-container__card {
  transition: all .25s ease-in;
  flex-basis: 286px;
  height: 450px;
  padding: 0
}

@media (min-width:768px) {
  .green-tech-guides .guides-container__card {
    height: 468px
  }
}

.green-tech-guides .guides-container__card-title--stay-tuned {
  margin-bottom: 8px;
  text-align: center;
  font-size: 32px
}

.green-tech-guides .guides-container__card .arrow-button {
  margin-top: 24px;
  width: 238px;
  background-color: #000 !important
}

.green-tech-guides .guides-container__card .arrow-button .main {
  width: 100%;
  display: flex;
  justify-content: space-between
}

.green-tech-guides .guides-container__card:hover {
  box-shadow: 0 40px 115px 0 rgba(21, 20, 50, .09)
}

.green-tech-guides .guides-container__card-img {
  display: flex;
  justify-content: center
}

.green-tech-guides .guides-container__card-img img {
  width: 234px;
  height: 338px
}

.green-tech-guides .guides-container__card-img--stay-tuned {
  background-image: url(/app/assets/images/guides-stay-tuned-2-a4880678afeed65832722c54e3d667d9.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-clip: initial;
  width: 236.47px;
  height: 181px
}

.green-tech-guides .guides-container__card-bottom {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

@media (min-width:768px) {
  .green-tech-guides .guides-container__card-bottom {
    height: 170px
  }
}

.green-tech-guides .guides-container__card-tags {
  font-size: .88rem;
  color: #6a6e74;
  text-align: center
}

.green-tech-guides .guides-container__card-button {
  display: flex;
  justify-content: center
}

.green-tech-guides .guides-container__card-button--stay-tuned .arrow-button {
  margin-top: 20px;
  width: 238px;
  color: #040015 !important;
  border-color: #d4d4d4 !important;
  background-color: #fff !important
}

.green-tech-guides .guides-container__card-button--stay-tuned .arrow-button:before {
  box-shadow: 0 7px 18px 0 hsla(0, 0%, 83.1%, .2)
}

.green-tech-guides .guides-container__card-button--stay-tuned .arrow-button .shaft {
  background-color: #8b9097 !important
}

.green-tech-guides .guides-container__card-button--stay-tuned .arrow-button .main {
  margin: 0 auto;
  width: auto
}

.green-tech-guides .dot-big {
  background: url(/packs/media/images/resources/dot-big-6a745d739ff92862b62315aefe836e31.svg) no-repeat;
  background-size: contain;
  background-position: 50%;
  position: absolute;
  width: 178px;
  height: 178px;
  display: none;
  top: -16px;
  right: -92px
}

@media (min-width:1400px) {
  .green-tech-guides .dot-big {
    display: block;
    right: -210px
  }
}

@media (min-width:1600px) {
  .green-tech-guides .dot-big {
    right: -444px
  }
}

.green-tech-guides .dot-small {
  background: url(/packs/media/images/resources/dot-small-a67783555385b467aafb9580b38de6ac.svg) no-repeat;
  background-size: contain;
  background-position: 50%;
  position: absolute;
  display: none
}

@media (min-width:992px) {
  .green-tech-guides .dot-small {
    display: block
  }
}

.green-tech-guides .dot-small--1 {
  width: 10px;
  height: 10px;
  bottom: 165px;
  right: -218px
}

.green-tech-guides .dot-small--2 {
  width: 12px;
  height: 12px;
  top: 245px;
  left: -250px
}

.green-tech-guides .dot-small--3 {
  width: 15px;
  height: 15px;
  top: 50px;
  left: 50px
}

.green-tech-guides .dot-small--4 {
  width: 25px;
  height: 25px;
  top: 672px;
  left: -157px
}

.green-tech-guides .dot-small--5 {
  width: 15px;
  height: 15px;
  top: 111px;
  right: 62px
}

@media (min-width:1600px) {
  .green-tech-guides .dot-small--5 {
    width: 15px;
    height: 15px;
    top: 78px;
    right: -151px
  }
}

.path-section__wrapper {
  padding: 40px 30px
}

@media (min-width:768px) {
  .path-section__wrapper {
    padding: 80px 120px
  }
}

.path-section .section-content {
  padding: 0
}

.path-section .content-wrapper {
  display: flex;
  position: relative
}

.path-section__title {
  font-size: 30px;
  width: 100%;
  margin-bottom: 20px
}

@media (min-width:992px) {
  .path-section__title {
    font-size: 60px
  }
}

@media (min-width:1200px) {
  .path-section__title {
    width: 50%
  }
}

.path-section__subtitle {
  font-size: 20px;
  width: 100%;
  margin-bottom: 100px
}

@media (min-width:1200px) {
  .path-section__subtitle {
    width: 38%
  }
}

.path-section .steps__wrapper {
  margin: 56px 0 0 11px
}

@media (min-width:1200px) {
  .path-section .steps__wrapper {
    position: relative;
    display: flex;
    background-image: url(/packs/media/images/services/hire/arrow-78e24bbe1d1cb11d1aa0676d10170796.svg);
    background-size: 200px 1340px;
    background-repeat: no-repeat;
    background-position: center 20px;
    margin: 0
  }
}

@media (min-width:1200px) {
  .path-section .steps__wrapper .arrow-mask {
    width: 200px;
    height: 1340px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate3d(-50%, 0, 0);
    background-color: #000
  }
}

.path-section .arrow-mobile {
  width: 35px;
  background-image: url(/packs/media/images/landing_pages/arrow-mobile-1be5813298344b4a0a281f6a33c6528f.svg);
  background-repeat: no-repeat;
  background-size: 26px 1180px
}

@media (min-width:1200px) {
  .path-section .arrow-mobile {
    display: none
  }
}

.path-section .step {
  margin-bottom: 50px;
  position: relative
}

@media (min-width:1200px) {
  .path-section .step:nth-child(2n) {
    margin-top: 280px
  }
}

.path-section .step:before {
  content: "";
  position: absolute;
  left: -38px;
  top: 19px;
  width: 12px;
  height: 12px;
  z-index: 2;
  background: #06f;
  border-radius: 100%
}

.path-section .step:nth-last-child(2):before {
  display: none
}

@media (min-width:1200px) {
  .path-section .step {
    width: 35%;
    margin-bottom: 0
  }

  .path-section .step:nth-child(2n) {
    margin-left: auto
  }

  .path-section .step:before {
    display: none
  }
}

.path-section .step__image {
  width: 50px;
  height: 50px
}

@media (min-width:1200px) {
  .path-section .step__image {
    width: 55px;
    height: 55px
  }
}

.path-section .step__title {
  font-size: 24px;
  margin: 20px 0
}

@media (min-width:768px) {
  .path-section .step__title {
    font-size: 30px
  }
}

.path-section .step__content {
  color: #8b9097
}

@media (min-width:768px) {
  .path-section .step__content {
    font-size: 18px
  }
}

.green-tech .path-section__subtitle,
.green-tech .path-section__title,
.product-discovery .path-section__subtitle,
.product-discovery .path-section__title,
.top-custom-software .path-section__subtitle,
.top-custom-software .path-section__title {
  color: #fff;
  font-weight: 400
}

.top-custom-software .path-section__wrapper {
  padding: 28px 30px
}

@media (min-width:768px) {
  .top-custom-software .path-section__wrapper {
    padding: 58px 120px
  }
}

.top-custom-software .path-section__subtitle {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 50px
}

@media (min-width:768px) {
  .top-custom-software .path-section__subtitle {
    margin-bottom: 67px;
    font-weight: 500
  }
}

@media (min-width:1200px) {
  .top-custom-software .path-section__subtitle {
    width: 40%
  }
}

.top-custom-software .step {
  margin-bottom: 80px
}

.top-custom-software .step__title {
  color: #fff;
  font-weight: 600
}

@media (min-width:768px) {
  .top-custom-software .step__title {
    margin: 30px 0 4px;
    font-weight: 400
  }
}

.top-custom-software .step__content {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0
}

@media (min-width:768px) {
  .top-custom-software .step__content {
    font-size: 18px;
    line-height: 28.8px
  }
}

@media (min-width:768px) {
  .green-tech .path-section__wrapper {
    padding-bottom: 0
  }
}

@media (min-width:1200px) {
  .green-tech .path-section__title {
    width: 70%;
    margin-bottom: 0
  }
}

.green-tech .path-section .arrow-mobile {
  width: 35px;
  background-image: url(/packs/media/images/green_tech/arrow_mobile-29fb2fd56fa71bdeb3cd03a46f0a4bf3.svg);
  background-repeat: no-repeat;
  background-size: 26px 1180px
}

@media (min-width:1200px) {
  .green-tech .path-section .arrow-mobile {
    display: none
  }
}

.green-tech .path-section .content-wrapper {
  margin-top: 40px
}

.green-tech .path-section__subtitle {
  display: none
}

.green-tech .path-section .steps__wrapper {
  margin-top: 37.58px
}

@media (min-width:1200px) {
  .green-tech .path-section .steps__wrapper {
    background-image: url(/packs/media/images/green_tech/arrow-366a17943757f73b76c996ecb16e0ac0.svg);
    background-size: 200px 850.19px
  }
}

.green-tech .path-section .step {
  margin-bottom: 30px
}

.green-tech .path-section .step__title {
  margin-bottom: 4px;
  color: #fff
}

.green-tech .path-section .step__content {
  font-size: 16px;
  line-height: 16px
}

@media (min-width:768px) {
  .green-tech .path-section .step__content {
    font-size: 18px;
    line-height: 28.8px
  }
}

.green-tech .path-section .step:before {
  display: none
}

@media (min-width:1200px) {
  .green-tech .path-section .step:nth-child(2n) {
    margin-top: 120px
  }

  .green-tech .path-section .step:nth-of-type(2) {
    margin-top: 180px
  }

  .green-tech .path-section .step:nth-child(odd):not(:first-of-type) {
    bottom: 150px
  }
}

.pd-footer {
  position: relative
}

.pd-footer__wrapper {
  padding: 40px 30px;
  display: flex;
  flex-direction: column
}

@media (min-width:768px) {
  .pd-footer__wrapper {
    justify-content: space-between;
    padding: 70px 120px;
    flex-direction: row
  }
}

.pd-footer .content-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none
}

.pd-footer .content-left p {
  font-size: .75rem;
  color: #8b9097;
  margin-left: 40px
}

.pd-footer .content-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px
}

@media (min-width:768px) {
  .pd-footer .content-right {
    margin-top: 0
  }
}

.pd-footer .content-right li {
  cursor: pointer
}

@media (min-width:768px) {
  .pd-footer .content-right li {
    margin-left: 35px
  }
}

.pd-footer .content-right li a {
  text-decoration: none;
  color: #8b9097
}

.sdh-labs .pd-footer__wrapper,
.sxsw-seed .pd-footer__wrapper,
.sxsw-series-a .pd-footer__wrapper {
  align-items: center
}

@media (min-width:768px) {

  .sdh-labs .pd-footer__wrapper,
  .sxsw-seed .pd-footer__wrapper,
  .sxsw-series-a .pd-footer__wrapper {
    align-items: normal
  }
}

.sdh-labs .pd-footer .content-left p,
.sxsw-seed .pd-footer .content-left p,
.sxsw-series-a .pd-footer .content-left p {
  font-size: 1rem;
  color: #000;
  margin-left: 25px;
  margin-bottom: 0
}

@media (min-width:576px) {

  .sdh-labs .pd-footer .content-left p,
  .sxsw-seed .pd-footer .content-left p,
  .sxsw-series-a .pd-footer .content-left p {
    font-size: .9rem
  }
}

@media (min-width:1200px) {

  .sdh-labs .pd-footer .content-left p,
  .sxsw-seed .pd-footer .content-left p,
  .sxsw-series-a .pd-footer .content-left p {
    font-size: .75rem
  }
}

.sdh-labs .pd-footer .content-right,
.sxsw-seed .pd-footer .content-right,
.sxsw-series-a .pd-footer .content-right {
  min-width: 300px
}

@media (min-width:768px) {

  .sdh-labs .pd-footer .content-right,
  .sxsw-seed .pd-footer .content-right,
  .sxsw-series-a .pd-footer .content-right {
    min-width: auto
  }
}

.sdh-labs .pd-footer .content-right li a,
.sxsw-seed .pd-footer .content-right li a,
.sxsw-series-a .pd-footer .content-right li a {
  font-size: 1rem;
  color: #000;
  text-decoration: underline
}

@media (min-width:576px) {

  .sdh-labs .pd-footer .content-right li a,
  .sxsw-seed .pd-footer .content-right li a,
  .sxsw-series-a .pd-footer .content-right li a {
    font-size: .9rem
  }
}

@media (min-width:1200px) {

  .sdh-labs .pd-footer .content-right li a,
  .sxsw-seed .pd-footer .content-right li a,
  .sxsw-series-a .pd-footer .content-right li a {
    font-size: .75rem
  }
}

.sdh-labs .pd-footer .faq__item-arrow,
.sxsw-seed .pd-footer .faq__item-arrow,
.sxsw-series-a .pd-footer .faq__item-arrow {
  filter: brightness(0)
}

.sdh-labs .pd-footer .content-left {
  pointer-events: none
}

.sdh-labs .pd-footer .content-right {
  margin: 0 60px 0 0;
  justify-content: flex-end
}

.sdh-labs .pd-footer .content-right li:not(:first-child) {
  display: none
}