@media (max-width:991px) {
  .contact:not(.horizontal).section {
    padding-top: 1px;
    background-color: #fff !important
  }
}

.contact.horizontal .contact-form,
.contact.horizontal .senior-partner {
  width: 100%
}

@media (min-width:992px) {
  .contact.horizontal .thank-you__info {
    padding-top: 4rem;
    padding-bottom: 2rem
  }
}

@media (min-width:1600px) {
  .contact.horizontal .thank-you__info {
    padding-top: 11.66rem;
    padding-bottom: 9.44rem
  }
}

@media (min-width:992px) {
  .contact.horizontal .thank-you__image {
    width: 60%
  }
}

@media (min-width:1920px) {

  .contact.horizontal .thank-you__image,
  .contact.horizontal .thank-you__image img {
    max-width: 50vw
  }
}

.contact.horizontal .content {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 2rem 9.44rem
}

@media (min-width:992px) {
  .contact.horizontal .content {
    display: block;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem
  }

  .contact.horizontal .content .form-wrapper {
    display: flex;
    justify-content: space-between
  }
}

.contact.horizontal .content__box {
  flex-basis: 40%
}

@media (min-width:992px) {
  .contact.horizontal .content__box .person {
    margin-top: 0
  }
}

@media (min-width:1600px) {
  .contact.horizontal .content__box .button-wrapper {
    bottom: 9.44rem
  }
}

@media (min-width:1600px) {
  .contact.horizontal .senior-partner .content {
    padding: 13rem 4rem 17rem
  }
}

.contact.horizontal .contact-form .content {
  padding-top: 0
}

@media (min-width:992px) {
  .contact.horizontal .contact-form .content {
    padding-top: 2rem
  }
}

.contact.horizontal .contact-form__divider {
  visibility: hidden
}

.contact.horizontal .form,
.contact.horizontal .person {
  max-width: unset
}

@media (min-width:992px) {

  .contact.horizontal .form,
  .contact.horizontal .person {
    margin-top: 0
  }
}

.contact.horizontal .button-wrapper {
  position: static
}

.page .info-panel {
  padding: 8rem 0
}

.page .info-panel__title {
  font-family: TTCommons-Light, sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 30rem;
  font-size: 3.35rem
}

.page .info-panel .info-column {
  padding-right: 2rem;
  margin-bottom: 1rem
}

@media (min-width:768px) {
  .page .info-panel .info-column {
    padding-right: 4rem;
    margin-bottom: 2rem
  }
}

@media (min-width:992px) {
  .page .info-panel .info-column {
    margin-bottom: 0
  }
}

.page .info-panel .info-column__title {
  font-family: TTCommons-Regular, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.777rem
}

.page .info-panel .info-column__description {
  font-family: TTCommons-Regular, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #5f6369
}

.page .info-panel .info-column__description.id {
  display: block
}

.page .info-panel .info-column__description.id:first-of-type {
  padding-top: 1.1rem
}

.page .info-panel .info-column__link {
  color: #5f6369;
  display: block;
  text-decoration: none
}

@media (min-width:992px) {
  .page .info-panel .info-column__link:hover {
    text-decoration: underline
  }
}

.page .info-panel .info-column__link .phone-number {
  white-space: nowrap
}

.page .info-panel .info-column .contact-view-careers {
  margin-top: 4.1rem
}

.page .info-panel .icon-button {
  margin-top: 2.45rem;
  display: inline-flex
}

@media (min-width:992px) {
  .page .senior-partner {
    width: 50%
  }
}

.page .senior-partner__title {
  font-family: TTCommons-Light, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.35rem;
  margin-bottom: 2rem;
  color: #fff
}

.page .senior-partner__description {
  font-family: TTCommons-Regular, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.11rem;
  color: #8b9097
}

@media (min-width:992px) {
  .page .senior-partner__description {
    max-width: 27rem
  }
}

.page .senior-partner .content {
  padding: 11.66rem 2rem 9.44rem
}

@media (min-width:992px) {
  .page .senior-partner .content {
    height: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 17rem
  }
}

.page .senior-partner .person {
  display: flex;
  align-items: flex-start;
  margin-top: 5rem
}

@media (min-width:992px) {
  .page .senior-partner .person {
    max-width: 33rem
  }
}

.page .senior-partner .person img {
  margin-right: 2rem;
  flex-shrink: 0;
  width: 4rem
}

@media (min-width:992px) {
  .page .senior-partner .person img {
    width: auto
  }
}

.page .senior-partner .person__title {
  font-family: TTCommons-Regular, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.66rem;
  margin-bottom: .5rem;
  color: #fff
}

.page .senior-partner .person__description {
  font-family: TTCommons-Regular, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.11rem;
  color: #8b9097
}

.page .senior-partner .button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 4rem
}

@media (min-width:992px) {
  .page .senior-partner .button-wrapper {
    position: absolute;
    right: 4rem;
    bottom: 9.44rem
  }
}

@media (min-width:1600px) {
  .page .senior-partner .button-wrapper {
    right: calc(50vw - 41rem)
  }
}

.page .senior-partner .arrow-button .text {
  width: 100%
}

@media (min-width:1200px) {
  .page .senior-partner .arrow-button .text {
    width: 12rem
  }
}

.contact-form {
  position: relative
}

@media (min-width:992px) {
  .contact-form {
    width: 50%
  }
}

.contact-form__title {
  font-family: TTCommons-Light, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.65rem;
  margin-bottom: 2rem
}

@media (min-width:768px) {
  .contact-form__title {
    font-size: 3.35rem
  }
}

.contact-form__description {
  font-family: TTCommons-Regular, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.11rem;
  color: #5f6369
}

@media (min-width:992px) {
  .contact-form__description {
    max-width: 28rem
  }
}

@media (max-width:991px) {
  .contact-form__description .hidden-lg-down {
    display: none
  }
}

@media (min-width:992px) {
  .contact-form__description .hidden-lg-up {
    display: none
  }
}

.contact-form__drop-line {
  margin-top: 5rem;
  color: #5f6369
}

.contact-form__drop-line a {
  color: inherit;
  font-weight: 700;
  transition: color .2s;
  text-decoration: none
}

@media (min-width:992px) {
  .contact-form__drop-line a:hover {
    color: #06f
  }
}

.contact-form .content {
  position: relative;
  padding: 3rem 2rem 9.44rem;
  z-index: 2;
  transition: opacity .4s, padding .4s;
  margin-left: auto
}

.contact-form .content .form-wrapper {
  width: 100%;
  max-width: 86rem
}

.contact-form .content .invisible {
  position: absolute;
  opacity: 0;
  z-index: -1
}

@media (max-width:768px) {
  .contact-form .content.message-sent {
    padding-left: 0;
    padding-right: 0
  }
}

@media (min-width:768px) {
  .contact-form .content {
    padding: 11.66rem 4rem 9.44rem
  }
}

@media (min-width:992px) {
  .contact-form .content {
    padding-right: 4rem
  }
}

@media (min-width:1600px) {
  .contact-form .content {
    max-width: 45rem
  }
}

.contact-form .text-wrapper {
  flex-basis: 50%;
  transition: opacity 1.4s
}

.contact-form .form {
  flex-basis: 40%;
  transition: opacity 1.4s;
  display: flex;
  flex-direction: column;
  margin-top: 4rem
}

.contact-form .form__title {
  font-size: 1.333rem;
  color: #040015;
  margin-bottom: 1rem
}

.contact-form .form__input,
.contact-form .form__title {
  font-family: TTCommons-Regular, sans-serif;
  font-weight: 400;
  font-style: normal
}

.contact-form .form__input {
  font-size: 1rem
}

.contact-form .form__bottom-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem
}

.contact-form .form__bottom-row .captcha-container {
  width: auto
}

.contact-form .form__bottom-row .icon-button {
  margin-top: 3rem
}

.contact-form .form__bottom-row .icon-button.disabled {
  opacity: .2
}

@media (min-width:1200px) {
  .contact-form .form__bottom-row {
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap
  }

  .contact-form .form__bottom-row .icon-button {
    margin-top: 2rem
  }

  .contact-form .form__bottom-row .files-upload {
    width: calc(100% - 304px);
    padding-right: 2rem
  }
}

@media (min-width:1600px) {
  .contact-form .form__bottom-row .files-upload {
    max-width: none
  }
}

.contact-form .form__bottom-row .arrow-button,
.contact-form .form__bottom-row .arrow-button .main,
.contact-form .form__bottom-row .arrow-button .text {
  width: 100%
}

@media (min-width:576px) {

  .contact-form .form__bottom-row .arrow-button,
  .contact-form .form__bottom-row .arrow-button .main,
  .contact-form .form__bottom-row .arrow-button .text {
    width: auto
  }
}

.contact-form .form textarea {
  resize: none
}

.contact-form .form textarea::-moz-placeholder {
  color: #6a6e74;
  opacity: 1
}

.contact-form .form textarea::placeholder {
  color: #6a6e74;
  opacity: 1
}

.contact-form .form .input-wrapper input::-moz-placeholder {
  color: #6a6e74;
  opacity: 1
}

.contact-form .form .input-wrapper input::placeholder {
  color: #6a6e74;
  opacity: 1
}

.contact-form__divider {
  font-family: TTCommons-DemiBold, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.75rem;
  height: 3.75rem;
  background-color: #fff;
  color: #040015;
  font-size: 1.333rem;
  border-radius: 100%;
  box-shadow: 0 0 0 .8rem hsla(0, 0%, 100%, .4);
  z-index: 9
}

.contact-form__divider-inner {
  width: 100%;
  height: 100%;
  box-shadow: 0 27px 108px 0 rgba(4, 53, 125, .44);
  display: flex;
  border-radius: 100%;
  align-items: center;
  justify-content: space-around
}

@media (min-width:992px) {
  .contact-form__divider {
    top: 50%;
    left: 100%
  }
}

.contact-form .custom-select-opener {
  font-family: TTCommons-Regular, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  white-space: nowrap;
  background-color: initial
}

.contact-form .custom-select-opener span {
  position: relative;
  line-height: 1.15rem
}

.contact-form .custom-select-opener span:after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #6a6e74;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(calc(-50% + 2px))
}

.contact-form .custom-select-opener:focus {
  outline: none;
  border-color: #6495ed
}

.contact-form .custom-select-opener span {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  color: #000
}

.contact-form .custom-select-opener span.is-disabled {
  color: #6a6e74
}

.contact-form .custom-select-option {
  background-color: initial;
  cursor: pointer
}

.contact-form .custom-select-panel {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 7px 0 rgba(8, 24, 49, .15);
  color: #000
}

@media (max-width:767px) {

  .service .contact-form .content,
  .workflow .contact-form .content {
    padding-top: 6rem
  }
}

@media (min-width:992px) {
  .section.contact.horizontal .content.message-sent {
    max-width: 100vw;
    margin-right: 0
  }
}

@media (min-width:1600px) {
  .section.contact.horizontal .content.message-sent {
    margin-left: calc(50vw - 45rem)
  }
}

.section.contact:not(.horizontal) .content.message-sent {
  padding-left: 0;
  padding-right: 0
}

@media (min-width:992px) {

  .section.contact:not(.horizontal) .content.message-sent,
  .section.contact:not(.horizontal) .content.message-sent .thank-you {
    padding: 0
  }

  .section.contact:not(.horizontal) .content.message-sent .thank-you .hidden-md-down {
    display: none
  }

  .section.contact:not(.horizontal) .content.message-sent .thank-you .hidden-md-up {
    display: block
  }

  .section.contact:not(.horizontal) .content.message-sent .thank-you .hidden-md-up img {
    position: static
  }

  .section.contact:not(.horizontal) .content.message-sent .thank-you__info {
    padding-top: 0
  }

  .section.contact:not(.horizontal) .content.message-sent .thank-you__image img {
    max-width: 35rem;
    margin-left: auto;
    margin-right: 0
  }
}

.thank-you {
  overflow-x: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  z-index: -1
}

.thank-you.visible {
  position: static;
  transition: opacity 1.4s;
  opacity: 1;
  z-index: 2
}

.thank-you__info {
  width: 100%;
  max-width: 45rem;
  padding: 5rem 0 5rem 2rem;
  z-index: inherit
}

@media (min-width:768px) {
  .thank-you__info {
    padding: 11.66rem 0 0 2rem;
    padding-left: 4rem
  }
}

.thank-you__title {
  font-family: TTCommons-Light, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.65rem;
  margin-bottom: 2rem
}

@media (min-width:768px) {
  .thank-you__title {
    font-size: 3.35rem
  }
}

.thank-you__text {
  font-family: TTCommons-Regular, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #5f6369;
  font-size: 1.11rem;
  margin-bottom: 4.5rem
}

@media (min-width:768px) {
  .thank-you__text {
    font-size: 1rem
  }
}

.thank-you__image {
  width: 100%;
  text-align: right;
  padding-left: 2rem
}

.thank-you__image img {
  bottom: 0;
  right: 0;
  width: 130%;
  transform: translate3d(-15%, 0, 0)
}

@media (min-width:768px) {
  .thank-you__image img {
    position: absolute;
    max-width: 80vw;
    transform: none
  }
}

@media (min-width:992px) {
  .thank-you__image img {
    max-width: 60vw
  }
}

.thank-you__loader {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  transition: opacity .5s;
  background-color: hsla(0, 0%, 100%, .7);
  display: flex;
  justify-content: center;
  align-items: center
}

.thank-you__loader.visible {
  opacity: 1;
  z-index: 4
}

.thank-you .arrow-button {
  z-index: 2
}

.workflow-intro.section {
  padding-top: 12rem;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  min-height: 100vh;
  padding-bottom: 70%;
  background-size: 70%
}

@media (min-width:992px) {
  .workflow-intro.section {
    padding-bottom: 0;
    background-size: 30%
  }
}

.workflow-intro__title {
  font-family: TTCommons-Light, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  font-size: 2.65rem;
  color: #fff;
  padding-right: 1rem
}

@media (min-width:992px) {
  .workflow-intro__title {
    font-size: 3.8rem
  }
}

.workflow-intro__text {
  font-family: TTCommons-Regular, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.22rem;
  color: #fff;
  max-width: 38rem
}

.workflow-intro__scroll-icon {
  margin-top: 5%;
  margin-bottom: 5rem;
  width: 32px
}

@media (min-width:992px) {
  .workflow-intro__scroll-icon {
    margin-top: 11rem
  }
}

.workflow-mvp .workflow-intro {
  background-image: url(/packs/media/images/workflow/mvp/hero-4bbc0545e160cf7d664e0b5a712ff204.png)
}

.workflow-top-five .workflow-intro {
  background-image: url(/packs/media/images/workflow/top_five/hero-9f58c43ade6c8c25f23943469229c571.png)
}

@media (min-width:992px) {
  .workflow-top-five .workflow-intro {
    background-size: 40%
  }
}

.workflow-innovation .workflow-intro {
  background-image: url(/packs/media/images/workflow/innovation/hero-709802034f0bf32cce7dad5633c2e6d6.png)
}

@media (min-width:992px) {
  .workflow-innovation .workflow-intro {
    background-position: right 90%;
    background-size: 40%
  }
}

.workflow-rotator .section {
  padding: 11.66rem 0 9.44rem
}

.workflow-rotator .screen {
  padding: 0
}

@media (max-width:991px) {
  .workflow-rotator .screen {
    padding: 2.5rem 0
  }
}

.workflow-rotator .screen__text-wrapper {
  padding: 0 1rem
}

@media (min-width:992px) {
  .workflow-rotator .screen__text-wrapper {
    padding: 11.66rem 3rem 9.44rem 1rem;
    max-width: 43rem;
    margin-right: auto;
    margin-left: 0
  }

  .workflow-rotator .screen__text-wrapper.right-aligned {
    padding-left: 3rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: 0
  }
}

@media (min-width:1600px) {
  .workflow-rotator .screen__text-wrapper {
    padding: 11.66rem 2rem 9.44rem;
    margin-left: 1rem
  }

  .workflow-rotator .screen__text-wrapper.right-aligned {
    margin-right: 1rem
  }
}

.workflow-rotator .screen__title {
  font-family: TTCommons-Light, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.65rem;
  margin-bottom: 1rem
}

@media (min-width:1600px) {
  .workflow-rotator .screen__title {
    margin-bottom: 0;
    font-size: 3.35rem
  }
}

.workflow-rotator .screen__mock-button {
  font-family: TTCommons-Regular, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #5f6369;
  font-size: 1.11rem;
  font-size: 1.333rem;
  display: inline-block;
  border: 1px solid #d4d4d4;
  border-radius: 25px;
  line-height: 40px;
  padding: 0 18px
}

@media (min-width:768px) {
  .workflow-rotator .screen__mock-button {
    font-size: 1rem
  }
}

@media (min-width:992px) {
  .workflow-rotator .screen__mock-button {
    margin-top: 1rem;
    font-size: 1rem
  }
}

.workflow-rotator .screen__text {
  font-family: TTCommons-Regular, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #5f6369;
  font-size: 1.11rem;
  font-size: 1rem;
  padding-top: 1rem
}

@media (min-width:768px) {
  .workflow-rotator .screen__text {
    font-size: 1rem
  }
}

@media (min-width:1600px) {
  .workflow-rotator .screen__text {
    font-size: 1.333rem;
    padding-top: 2.77rem
  }
}

.workflow-rotator .screen .col-right {
  padding: 1rem 0;
  display: flex;
  align-items: center
}

.workflow-rotator .screen .col-right.last-lg {
  padding-right: 0
}

.workflow-rotator .screen .col-right .screen__image-wrapper {
  padding-left: 2rem;
  padding-right: 1rem
}

.workflow-rotator .screen .col-right .screen__image-wrapper.wide {
  padding-left: 0
}

.workflow-rotator .screen .col-right.last-lg .screen__image-wrapper {
  padding-right: 2rem;
  padding-left: 1rem
}

.workflow-rotator .screen .col-right.last-lg .screen__image-wrapper.wide {
  padding-right: 0
}

.workflow-rotator .screen__image {
  width: 100%
}

.workflow-rotator .screen__image-wrapper .screen__image {
  width: 80%
}

.workflow-rotator .screen__image-wrapper.narrow,
.workflow-rotator .screen__image-wrapper.normal {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center
}

.workflow-rotator .screen__image-wrapper.narrow .screen__image {
  width: 60%
}

.workflow-rotator .screen__image-wrapper.normal .screen__image {
  width: 80%
}

.workflow-rotator .screen__image-wrapper.wide .screen__image {
  width: 100%
}

.workflow-rotator .lazy-image {
  transform: none
}

@media (min-width:992px) {
  .workflow-top-five .screen:last-child {
    margin-bottom: 9.44rem
  }
}

.workflow-intro-new {
  height: 70vh
}

@media (min-width:768px) {
  .workflow-intro-new {
    height: 80vh
  }
}

@media (min-width:1024px) {
  .workflow-intro-new {
    height: 90vh
  }
}

.workflow-intro-new__wrapper {
  padding: 170px 30px 100px
}

@media (min-width:768px) {
  .workflow-intro-new__wrapper {
    padding: 250px 0 250px 118px
  }
}

@media (min-width:1400px) {
  .workflow-intro-new__wrapper {
    max-width: 90rem;
    margin: 0 auto
  }
}

.workflow-intro-new .hero__title {
  font-family: TTCommons-Light, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.875rem;
  line-height: 36px;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 700
}

@media (min-width:768px) {
  .workflow-intro-new .hero__title {
    font-size: 3.8rem;
    line-height: 70px;
    font-weight: 700;
    margin-bottom: 20px;
    width: 90%
  }
}

@media (min-width:992px) {
  .workflow-intro-new .hero__title {
    width: 75%
  }
}

@media (min-width:1200px) {
  .workflow-intro-new .hero__title {
    width: 50%
  }
}

.workflow-intro-new .hero__text {
  font-family: TTCommons-Regular, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #fff;
  line-height: 28px;
  width: 90%
}

@media (min-width:768px) {
  .workflow-intro-new .hero__text {
    font-size: 1.333rem;
    line-height: 32px;
    width: 75%
  }
}

@media (min-width:1024px) {
  .workflow-intro-new .hero__text {
    width: 45%
  }
}

.workflow-intro-new .hero-image {
  display: none
}

@media (min-width:1024px) {
  .workflow-intro-new .hero-image {
    display: block;
    position: absolute;
    bottom: -20px;
    right: 0
  }
}

.workflow-intro-new .hero-image img {
  max-width: 650px
}

@media (min-width:1200px) {
  .workflow-intro-new .hero-image img {
    max-width: 800px
  }
}

@media (max-height:750px) {
  .workflow-intro-new .hero-image img {
    max-width: 500px
  }
}

.digital-transformation .workflow-intro-new .hero-image {
  right: -160px
}

.step-by-step__wrapper {
  padding: 40px 30px;
  width: 100%
}

@media (min-width:768px) {
  .step-by-step__wrapper {
    padding: 80px 120px
  }
}

.step-by-step .section-content {
  padding: 0
}

@media (min-width:992px) {
  .step-by-step .content-wrapper {
    display: flex;
    justify-content: space-between
  }
}

.step-by-step .items {
  margin-top: 50px
}

@media (min-width:992px) {
  .step-by-step .items {
    width: 42%;
    margin-top: 0
  }
}

.step-by-step .item {
  margin-bottom: 82px
}

.step-by-step .item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px
}

.step-by-step .item__title {
  font-size: 24px;
  line-height: 32px;
  margin: 0
}

.step-by-step .item__time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 34px;
  background: rgba(0, 102, 255, .1);
  color: #06f;
  border-radius: 17px;
  padding: 0 15px
}

.step-by-step .item__time img {
  margin-right: 12px
}

.step-by-step .item__content {
  font-size: 16px;
  color: #575757;
  width: 80%
}

@media (min-width:992px) {
  .step-by-step .item__content {
    width: 100%;
    font-size: 18px;
    line-height: 28px
  }
}

@media (min-width:992px) {
  .step-by-step .graph {
    width: 42%
  }
}

.step-by-step .graph img {
  width: 100%
}

.other-options__wrapper {
  padding: 40px 30px;
  width: 100%
}

@media (min-width:768px) {
  .other-options__wrapper {
    padding: 80px 120px
  }
}

.other-options .section-content {
  padding: 0
}

@media (min-width:768px) {
  .other-options .cards {
    display: flex;
    justify-content: space-between
  }
}

.other-options .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 50px 40px rgba(4, 0, 21, .06);
  margin-bottom: 30px;
  text-align: center
}

@media (min-width:768px) {
  .other-options .card {
    width: 49%
  }
}

@media (min-width:1200px) {
  .other-options .card {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left
  }
}

@media (min-width:1200px) {
  .other-options .card__content {
    width: 70%
  }
}

.other-options .card__title {
  margin: 15px 0 10px;
  font-size: 24px
}

.other-options .card__text {
  font-size: 14px;
  color: #8b9097
}

@media (min-width:768px) {
  .other-options .card__text {
    font-size: .88rem
  }
}

.other-options .card__additional {
  display: flex;
  flex-direction: column;
  align-items: center
}

@media (min-width:768px) {
  .other-options .card__additional {
    flex-direction: row;
    justify-content: center
  }
}

@media (min-width:1200px) {
  .other-options .card__additional {
    justify-content: flex-start
  }
}

.other-options .card__additional p {
  margin-bottom: 0
}

.other-options .card .divider {
  width: 20px;
  height: 2px;
  background: #8b9097;
  margin: 20px 0 15px
}

@media (min-width:768px) {
  .other-options .card .divider {
    margin: 0 10px 0 0
  }
}

.other-options .card__image img {
  margin-right: 20px;
  max-height: 240px
}

.other-options .button {
  margin: 24px auto 0
}

@media (min-width:1200px) {
  .other-options .button {
    margin-left: 0
  }
}

.why-work-with-us {
  display: none
}

@media (min-width:768px) {
  .why-work-with-us {
    display: block
  }
}

.why-work-with-us__wrapper {
  padding: 40px 30px;
  width: 100%
}

@media (min-width:768px) {
  .why-work-with-us__wrapper {
    padding: 80px 120px
  }
}

.why-work-with-us .section-content {
  padding: 0
}

.why-work-with-us .cards {
  display: flex;
  flex-direction: column
}

@media (min-width:1024px) {
  .why-work-with-us .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
  }
}

.why-work-with-us .card {
  display: flex;
  align-items: flex-start;
  padding: 20px 25px;
  background-color: #f7f8fa;
  border-radius: 8px;
  margin-bottom: 20px
}

@media (min-width:1024px) {
  .why-work-with-us .card {
    width: 49%
  }
}

.why-work-with-us .card__image {
  margin: 30px 50px 0 0
}

.why-work-with-us .card__title {
  font-size: 24px;
  margin-bottom: 17px;
  color: #000
}

.why-work-with-us .card__text {
  font-size: 18px;
  color: #8b9097;
  line-height: 28px
}

.why-work-with-us .deck {
  margin-top: 80px
}

// .hero__title{
//   background-color: red;
// }